[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.20"
django-bootstrap4 = "*"
pillow = "*"
easy-thumbnails = "*"
django-cleanup = "*"
social-auth-app-django = "*"
django-ratelimit = "*"
django-extra-views = "*"
unidecode = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-dynamic-model-validation = "*"
django-simple-captcha = "*"
django-countries = "*"
xhtml2pdf = "*"
django-reversion = "*"
django-file-resubmit = "*"
beautifulsoup4 = "*"
currencyconverter = "*"
celery = {extras = ["redis"],version = "*"}
django-redis = "*"
folium = "*"
geocoder = "*"
django-extensions = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
lxml = "*"
awscli = "*"
django-boto = "*"
django-storages = "*"
pyyaml = "*"
python-dotenv = "*"
django-fancy-cache = "*"
djangorestframework = "*"
coreapi = "*"
drf-extensions = "*"
django-elasticsearch-dsl-drf = "*"
markdown = "*"
wikipedia = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
