[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-bootstrap4 = "*"
pillow = "*"
easy-thumbnails = "*"
django-cleanup = "*"
social-auth-app-django = "*"
django-ratelimit = "*"
django-crispy-forms = "*"
django-extra-views = "*"
unidecode = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-dynamic-model-validation = "*"
django-simple-captcha = "*"
django-countries = "*"
xhtml2pdf = "*"
django-reversion = "*"
django-file-resubmit = "*"
beautifulsoup4 = "*"
currencyconverter = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
