<!-- templates/admin/login.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}

{%  load static %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="form-container  ">
        <div class="row">
            <div class="col-md-5">
                <div class="p-3 mb-2   text-muted text-center">
                    <h5> User authentication </h5>
                </div>
                {% if user.is_authenticated %}
                    <div class="p-3 mb-auto bg-warning text-dark text-center rounded">You have already logged in</div>

                    </div>
                {% else %}
                    <div class="col-md-12">
                    <form method="post" >
                        {%  csrf_token %}
                        {%   bootstrap_form form layout='horizontal' size="small" label_class="form-label col-md-3"%}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="row">
                            <div class="col-12 text-center">
                                {% buttons %}
                                    <button type="submit" class="form-button btn btn-light">
                                        Submit
                                    </button>
                                    <button type="reset" class="form-button btn btn-light">
                                        Reset
                                    </button>
                                {% endbuttons %}
                            </div>
                        </div>
                    </form>
                {% endif %}
                </div>
        </div>
    </div>


    <div class="row   ">
        <div class="col-md-4 my-auto ml-3 mr-5">

            <div class="card">
  <div class="card-body">

    <h4 class="card-subtitle mb-2 text-muted">Account options</h4>
    <p class="card-text">
      You can register an account, login via social networks or reset your password
    </p>
     <a href="{% url "boats:add_new_user" %}">Register new account&nbsp;</a>
     <a href="{% url "social:begin" "vk-oauth2" %}">LogIn via VK&nbsp;</a>
      <a href="{% url "boats:password_reset" %}">Reset your password</a>
  </div>

    </div>
    </div>
    <div class="col-md-4 my-auto align-self-center ml-5">
        <img height=165  width=190   src="{% static "boats/diagram-31693_960_720.png"%}" alt="boat image">
    </div>
    </div>

    <a href="{%  url 'social:begin' "facebook" %}">Login via facebook</a>
{% endblock content %}



