<!-- templates/admin/logout.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{%  load static %}
{% load staticfiles %}
{% block title %} Logging out page{% endblock title %}
{% block content %}

    <div class="container-fluid   ">

        <div class="row">

            <div class="col text-center">


<img height=500 width=500 style="position: center ;margin-top: 10% " src="{% static "boats/565E97DC-1A97-49BB-B103-6CF76F69861E.jpeg"%}" alt="boat image">

            </div>
        </div>

    </div>

{% endblock content %}
