<!--  templates/admin/password_change.html -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
{% endblock title %}
{% block content %}
<div class="form-container-fluid container col-md-4 bg-light">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="form__section-title mt-2 mb-4 text-muted"> Change your password </h4>
            </div>
            <div class="col-md-12">

                <form method="post" >
                    {%  csrf_token %}
                    {%   bootstrap_form form layout='inline' size="small" label_class="form-label col-md-3"%}

                    <div class="row">
                        <div class="col-12 text-center">
                            {% buttons %}
                                <button type="submit" class="form-button btn btn-light">
                                    Submit
                                </button>
                                <button type="reset" class="form-button btn btn-light">
                                    Reset
                                </button>

                                <a href="{% url 'boats:user_profile' %}"> <button type="button" class="form-button btn btn-light">Back</button></a>

                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
