<!-- templates/admin/password_reset.html  -->
{%  extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_javascript "full" %}
{% block title %}
    password reset first form
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 ">
                <form method="post" class="form-horizontal">
                    <h5 class="heading text-left text-muted" style="margin-top: 20px">
                        Type in your email address:</h5>
                    <div class="form-group ">
                        {% csrf_token %}
                        {% bootstrap_form form layout="inline"  %}

                    </div>



                    <button
                            type="submit" class="form-button btn secondary border-warning" data-toggle="tooltip" data-placement="top" title="submit and check your email account for the email with instructions"> Submit your order
                    </button>

                    <a href="{% url "boats:index"  %}"><button type="button" class="form-button btn secondary border-success" data-toggle="tooltip" data-placement="top" title="changed your mind? Get back to the main page!"> Back to the main page</button></a>



                </form>
            </div>
        </div>
    </div>

{% endblock content %}
