<!-- templates/admin/user_is_activated.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% load cache %}
{% block title %}
User is activated already
{% endblock title %}

{% block content %}
    {% cache None user_is_activated  %}
<div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title"></h2>
        </div>
        <div class="panel-body">
            <div class="well well-lg" align="center">
                <h5>This user has been already activated.</h5>
                <div align="center"><a href="{% url "boats:index" %}"><button type="button" class="btn btn-info">Back to the main page</button></a></div>
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock content %}

