<!-- templates/errors/404.html  -->
{% extends "base.html" %}
{% load static %}
{% load cache %}



{% block title %} error 404   {%  endblock %}

{% block content %}
{% cache None 404.html %}

<style>
        body {
            background-image: url({% static "boats/404.png"%});
            background-repeat: no-repeat, repeat;
            background-position: center;
            background-size: 100%;
        }
    </style>

    {% comment %}
    <img  src="{% static "boats/404.png"%}" alt="404">
    {% endcomment %}
{% endcache %}
{% endblock content %}


