<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b5ca47502e3144cc956181c03e5cbf7e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_b5ca47502e3144cc956181c03e5cbf7e" ></div>
        
</body>
<script>    
    
            var map_b5ca47502e3144cc956181c03e5cbf7e = L.map(
                "map_b5ca47502e3144cc956181c03e5cbf7e",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_96b0873d09f84fa6b28fb1920770b6c3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b5ca47502e3144cc956181c03e5cbf7e);
        
    
            var marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c = L.markerClusterGroup(
                {}
            );
            map_b5ca47502e3144cc956181c03e5cbf7e.addLayer(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var marker_2a8bc38991dc4250a8c2af2f73bfc8d0 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_f935c194c19c4a9793dd86504cb540e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2a8bc38991dc4250a8c2af2f73bfc8d0.setIcon(icon_f935c194c19c4a9793dd86504cb540e7);
        
    
        var popup_210196b6a8f1427ab63a79b16f916fcf = L.popup({"maxWidth": "100%"});

        
            var html_ebc285783e85478fb7c9b2ad10feec01 = $(`<div id="html_ebc285783e85478fb7c9b2ad10feec01" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Cruiser, 2005, 3 kabin, location - Stockholm </div>`)[0];
            popup_210196b6a8f1427ab63a79b16f916fcf.setContent(html_ebc285783e85478fb7c9b2ad10feec01);
        

        marker_2a8bc38991dc4250a8c2af2f73bfc8d0.bindPopup(popup_210196b6a8f1427ab63a79b16f916fcf)
        ;

        
    
    
            var marker_a38744941a514d48b4245636dd93dbde = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_bec6b8392f60402d8fe97959581acabc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a38744941a514d48b4245636dd93dbde.setIcon(icon_bec6b8392f60402d8fe97959581acabc);
        
    
        var popup_2e64c587887d4f4c8f948246dd354023 = L.popup({"maxWidth": "100%"});

        
            var html_3dc9a4b42bba4877961b52eea779ed4f = $(`<div id="html_3dc9a4b42bba4877961b52eea779ed4f" style="width: 100.0%; height: 100.0%;"> Bavaria 38 ft . Motor 2012 . Grekland, location - Göteborg </div>`)[0];
            popup_2e64c587887d4f4c8f948246dd354023.setContent(html_3dc9a4b42bba4877961b52eea779ed4f);
        

        marker_a38744941a514d48b4245636dd93dbde.bindPopup(popup_2e64c587887d4f4c8f948246dd354023)
        ;

        
    
    
            var marker_2ec0abf7381f483aa02a27fdc53cf977 = L.marker(
                [57.747374374921066, 11.941217516369909],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_ceeda976aae340f6909b263d5c1f7079 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2ec0abf7381f483aa02a27fdc53cf977.setIcon(icon_ceeda976aae340f6909b263d5c1f7079);
        
    
        var popup_99ae849a60f748fca1a785217ea6550d = L.popup({"maxWidth": "100%"});

        
            var html_26343aa28cff4228ad2896c2b1e1de56 = $(`<div id="html_26343aa28cff4228ad2896c2b1e1de56" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Lagoon 3-kabin, location - Göteborg </div>`)[0];
            popup_99ae849a60f748fca1a785217ea6550d.setContent(html_26343aa28cff4228ad2896c2b1e1de56);
        

        marker_2ec0abf7381f483aa02a27fdc53cf977.bindPopup(popup_99ae849a60f748fca1a785217ea6550d)
        ;

        
    
    
            var marker_2b03127e4999423cbd1c550abca93e2c = L.marker(
                [59.3374907563767, 18.05646082872717],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_74f82ad29edf49f4a20cb5def90de00a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2b03127e4999423cbd1c550abca93e2c.setIcon(icon_74f82ad29edf49f4a20cb5def90de00a);
        
    
        var popup_772fbcbbe525473ba58d4fe3f879f661 = L.popup({"maxWidth": "100%"});

        
            var html_e6eb64547337422f91198fff63bb7e65 = $(`<div id="html_e6eb64547337422f91198fff63bb7e65" style="width: 100.0%; height: 100.0%;"> Bavaria 38 - 2003. 1 ägare. 3 kabiners, location - Stockholm </div>`)[0];
            popup_772fbcbbe525473ba58d4fe3f879f661.setContent(html_e6eb64547337422f91198fff63bb7e65);
        

        marker_2b03127e4999423cbd1c550abca93e2c.bindPopup(popup_772fbcbbe525473ba58d4fe3f879f661)
        ;

        
    
    
            var marker_b064a608478d4e4f8461a1bc0b1789f2 = L.marker(
                [59.29328160634362, 18.114985167088918],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_baea7de8f4474a43b0affa70960c3004 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b064a608478d4e4f8461a1bc0b1789f2.setIcon(icon_baea7de8f4474a43b0affa70960c3004);
        
    
        var popup_7c6d414bc0e1452596a57ff941cf576a = L.popup({"maxWidth": "100%"});

        
            var html_faf5f66cd92e4b6e967fcba64c8232da = $(`<div id="html_faf5f66cd92e4b6e967fcba64c8232da" style="width: 100.0%; height: 100.0%;"> Bavaria 31 Cruiser, location - Stockholm </div>`)[0];
            popup_7c6d414bc0e1452596a57ff941cf576a.setContent(html_faf5f66cd92e4b6e967fcba64c8232da);
        

        marker_b064a608478d4e4f8461a1bc0b1789f2.bindPopup(popup_7c6d414bc0e1452596a57ff941cf576a)
        ;

        
    
    
            var marker_75d9910a46504b66b61b18b661bd9c3c = L.marker(
                [57.74302371293161, 11.972511118615046],
                {"radius": 1}
            ).addTo(marker_cluster_52ab0391e0464a7c9ec966728e7ffa4c);
        
    
            var icon_99d1c8e725ea42e58bdeabc9f43294f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_75d9910a46504b66b61b18b661bd9c3c.setIcon(icon_99d1c8e725ea42e58bdeabc9f43294f7);
        
    
        var popup_3442612cfb7e4c5f81af93b6d57d6a6f = L.popup({"maxWidth": "100%"});

        
            var html_171bac65ebba49da88dedc33d3ad1391 = $(`<div id="html_171bac65ebba49da88dedc33d3ad1391" style="width: 100.0%; height: 100.0%;"> Winga 78 MS, location - Göteborg </div>`)[0];
            popup_3442612cfb7e4c5f81af93b6d57d6a6f.setContent(html_171bac65ebba49da88dedc33d3ad1391);
        

        marker_75d9910a46504b66b61b18b661bd9c3c.bindPopup(popup_3442612cfb7e4c5f81af93b6d57d6a6f)
        ;

        
    
</script>