<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ca5930649bb24002b82b31b9bfcbd769 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_ca5930649bb24002b82b31b9bfcbd769" ></div>
        
</body>
<script>    
    
            var map_ca5930649bb24002b82b31b9bfcbd769 = L.map(
                "map_ca5930649bb24002b82b31b9bfcbd769",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_588ed46dc4994f968028e5e52538b7f0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ca5930649bb24002b82b31b9bfcbd769);
        
    
            var marker_cluster_5ea20089d62b4a68a822869956701d16 = L.markerClusterGroup(
                {}
            );
            map_ca5930649bb24002b82b31b9bfcbd769.addLayer(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var marker_76b0eaeef70143f4b12f66b257771c9a = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_2ce8c12d7ebc4b5796ef9f2aee2f416e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_76b0eaeef70143f4b12f66b257771c9a.setIcon(icon_2ce8c12d7ebc4b5796ef9f2aee2f416e);
        
    
        var popup_e36f5ba6a54d4d91825ebdbad5851d06 = L.popup({"maxWidth": "100%"});

        
            var html_2c8c1b03651b42ab9671f3bd8ca12700 = $(`<div id="html_2c8c1b03651b42ab9671f3bd8ca12700" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Cruiser, 2005, 3 kabin, location - Stockholm </div>`)[0];
            popup_e36f5ba6a54d4d91825ebdbad5851d06.setContent(html_2c8c1b03651b42ab9671f3bd8ca12700);
        

        marker_76b0eaeef70143f4b12f66b257771c9a.bindPopup(popup_e36f5ba6a54d4d91825ebdbad5851d06)
        ;

        
    
    
            var marker_5cc4bc558d48406cb48246dba6927c1e = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_1fd19aca9da6495cb95a94390f3038ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5cc4bc558d48406cb48246dba6927c1e.setIcon(icon_1fd19aca9da6495cb95a94390f3038ab);
        
    
        var popup_12509667106540a09ed27ed5ac96c986 = L.popup({"maxWidth": "100%"});

        
            var html_41e6ba204506468595d6c7ddfcfa62af = $(`<div id="html_41e6ba204506468595d6c7ddfcfa62af" style="width: 100.0%; height: 100.0%;"> Bavaria 38 ft . Motor 2012 . Grekland, location - Göteborg </div>`)[0];
            popup_12509667106540a09ed27ed5ac96c986.setContent(html_41e6ba204506468595d6c7ddfcfa62af);
        

        marker_5cc4bc558d48406cb48246dba6927c1e.bindPopup(popup_12509667106540a09ed27ed5ac96c986)
        ;

        
    
    
            var marker_eef992b3e2054738b5a964f13dcd8cf5 = L.marker(
                [57.7068761823466, 11.99716266840428],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_3f712b58ef184f20bdb02703031718d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_eef992b3e2054738b5a964f13dcd8cf5.setIcon(icon_3f712b58ef184f20bdb02703031718d7);
        
    
        var popup_681112a4d1b74059b322fcbec08fc85e = L.popup({"maxWidth": "100%"});

        
            var html_88b8f51085a2421195a00e47ebbcf56a = $(`<div id="html_88b8f51085a2421195a00e47ebbcf56a" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Lagoon 3-kabin, location - Göteborg </div>`)[0];
            popup_681112a4d1b74059b322fcbec08fc85e.setContent(html_88b8f51085a2421195a00e47ebbcf56a);
        

        marker_eef992b3e2054738b5a964f13dcd8cf5.bindPopup(popup_681112a4d1b74059b322fcbec08fc85e)
        ;

        
    
    
            var marker_55515e152095423e8aabf5f7407f89fa = L.marker(
                [59.337311380979145, 18.038512287890274],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_c998611a6a9e407c9cd80e80a3659113 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_55515e152095423e8aabf5f7407f89fa.setIcon(icon_c998611a6a9e407c9cd80e80a3659113);
        
    
        var popup_bfad232dcc1d4aaea77faf7814bec4f4 = L.popup({"maxWidth": "100%"});

        
            var html_b7334ff2d7bf4af9a8a756e5f25d5acc = $(`<div id="html_b7334ff2d7bf4af9a8a756e5f25d5acc" style="width: 100.0%; height: 100.0%;"> Bavaria 38 - 2003. 1 ägare. 3 kabiners, location - Stockholm </div>`)[0];
            popup_bfad232dcc1d4aaea77faf7814bec4f4.setContent(html_b7334ff2d7bf4af9a8a756e5f25d5acc);
        

        marker_55515e152095423e8aabf5f7407f89fa.bindPopup(popup_bfad232dcc1d4aaea77faf7814bec4f4)
        ;

        
    
    
            var marker_7f31c2fdb3f3460c853517ac55b558d4 = L.marker(
                [59.30464153874749, 18.040103660202885],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_0e0e71fd4c9d47918ba2a73ac08a1137 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7f31c2fdb3f3460c853517ac55b558d4.setIcon(icon_0e0e71fd4c9d47918ba2a73ac08a1137);
        
    
        var popup_38676f117ff1461ab814564a9d6a8091 = L.popup({"maxWidth": "100%"});

        
            var html_1de54b212ad64163911d03e3f7c9b32b = $(`<div id="html_1de54b212ad64163911d03e3f7c9b32b" style="width: 100.0%; height: 100.0%;"> Bavaria 31 Cruiser, location - Stockholm </div>`)[0];
            popup_38676f117ff1461ab814564a9d6a8091.setContent(html_1de54b212ad64163911d03e3f7c9b32b);
        

        marker_7f31c2fdb3f3460c853517ac55b558d4.bindPopup(popup_38676f117ff1461ab814564a9d6a8091)
        ;

        
    
    
            var marker_c2516a652a864cc49f02f030504417be = L.marker(
                [57.682424088735495, 11.973825375474641],
                {"radius": 1}
            ).addTo(marker_cluster_5ea20089d62b4a68a822869956701d16);
        
    
            var icon_887e5de48f284c32bd87be71c894978d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c2516a652a864cc49f02f030504417be.setIcon(icon_887e5de48f284c32bd87be71c894978d);
        
    
        var popup_0efd2092f76641d891408ede2cd0e91d = L.popup({"maxWidth": "100%"});

        
            var html_162a9b0146e94261990a926cdcdd632c = $(`<div id="html_162a9b0146e94261990a926cdcdd632c" style="width: 100.0%; height: 100.0%;"> Winga 78 MS, location - Göteborg </div>`)[0];
            popup_0efd2092f76641d891408ede2cd0e91d.setContent(html_162a9b0146e94261990a926cdcdd632c);
        

        marker_c2516a652a864cc49f02f030504417be.bindPopup(popup_0efd2092f76641d891408ede2cd0e91d)
        ;

        
    
</script>