<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83807b717fc84d31b0f781934566ada0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_83807b717fc84d31b0f781934566ada0" ></div>
        
</body>
<script>    
    
            var map_83807b717fc84d31b0f781934566ada0 = L.map(
                "map_83807b717fc84d31b0f781934566ada0",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c0f671ff382847bba8dd482361e21fa9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83807b717fc84d31b0f781934566ada0);
        
    
            var marker_cluster_89fa5af46cf240ba84242edd68fa127c = L.markerClusterGroup(
                {}
            );
            map_83807b717fc84d31b0f781934566ada0.addLayer(marker_cluster_89fa5af46cf240ba84242edd68fa127c);
        
    
            var marker_d0bb2d0296a54ee39abdb634d9a7423a = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_89fa5af46cf240ba84242edd68fa127c);
        
    
            var icon_f2e4cbfd23e04490a4b1b122cc30caab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d0bb2d0296a54ee39abdb634d9a7423a.setIcon(icon_f2e4cbfd23e04490a4b1b122cc30caab);
        
    
        var popup_4b320e3f4d824acc954dee9ca0775f57 = L.popup({"maxWidth": "100%"});

        
            var html_19aef67b8bee47cabfe93cf487d06715 = $(`<div id="html_19aef67b8bee47cabfe93cf487d06715" style="width: 100.0%; height: 100.0%;"> Andel i Bavaria 38. Motor 2012 . Grekland, location - Göteborg </div>`)[0];
            popup_4b320e3f4d824acc954dee9ca0775f57.setContent(html_19aef67b8bee47cabfe93cf487d06715);
        

        marker_d0bb2d0296a54ee39abdb634d9a7423a.bindPopup(popup_4b320e3f4d824acc954dee9ca0775f57)
        ;

        
    
    
            var marker_fb5fabf048af4ff0ad5e73620950775e = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_89fa5af46cf240ba84242edd68fa127c);
        
    
            var icon_cb1817c8edf64cdbbe08c1b2dd0aa620 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_fb5fabf048af4ff0ad5e73620950775e.setIcon(icon_cb1817c8edf64cdbbe08c1b2dd0aa620);
        
    
        var popup_8ef1bee82ce94f95a3ab10a9e838ab1c = L.popup({"maxWidth": "100%"});

        
            var html_3089bcb0172343a39a344e00c3a29a0e = $(`<div id="html_3089bcb0172343a39a344e00c3a29a0e" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Cruiser, 2005, 3 kabin, location - Stockholm </div>`)[0];
            popup_8ef1bee82ce94f95a3ab10a9e838ab1c.setContent(html_3089bcb0172343a39a344e00c3a29a0e);
        

        marker_fb5fabf048af4ff0ad5e73620950775e.bindPopup(popup_8ef1bee82ce94f95a3ab10a9e838ab1c)
        ;

        
    
    
            var marker_e3ed7cfc90ce4d97b4db48c5bffca1bc = L.marker(
                [57.739690992095085, 11.92451685693424],
                {"radius": 1}
            ).addTo(marker_cluster_89fa5af46cf240ba84242edd68fa127c);
        
    
            var icon_19be27b038f84959b9eda6866585eabf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_e3ed7cfc90ce4d97b4db48c5bffca1bc.setIcon(icon_19be27b038f84959b9eda6866585eabf);
        
    
        var popup_f74bbee6d38e4c9cb926ee4accebbb5b = L.popup({"maxWidth": "100%"});

        
            var html_f3eab53d6345478d930a917ca9bfba99 = $(`<div id="html_f3eab53d6345478d930a917ca9bfba99" style="width: 100.0%; height: 100.0%;"> Bavaria 38 Lagoon 3-kabin, location - Göteborg </div>`)[0];
            popup_f74bbee6d38e4c9cb926ee4accebbb5b.setContent(html_f3eab53d6345478d930a917ca9bfba99);
        

        marker_e3ed7cfc90ce4d97b4db48c5bffca1bc.bindPopup(popup_f74bbee6d38e4c9cb926ee4accebbb5b)
        ;

        
    
</script>