<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7a4655e797cf4f239491a47edc14962b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_7a4655e797cf4f239491a47edc14962b" ></div>
        
</body>
<script>    
    
            var map_7a4655e797cf4f239491a47edc14962b = L.map(
                "map_7a4655e797cf4f239491a47edc14962b",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_efd77ddf2ea34f5888065f1fb7df1612 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7a4655e797cf4f239491a47edc14962b);
        
    
            var marker_cluster_75e81da442ab477cb0510eb68f977b0c = L.markerClusterGroup(
                {}
            );
            map_7a4655e797cf4f239491a47edc14962b.addLayer(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var marker_96963ec047af495ba9aba382954a111a = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var icon_92efc8c243dd4e79b477f2124d1f2361 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_96963ec047af495ba9aba382954a111a.setIcon(icon_92efc8c243dd4e79b477f2124d1f2361);
        
    
        var popup_aa421771e4924f5b83775c4d389dae1b = L.popup({"maxWidth": "100%"});

        
            var html_39cc369f4e51425697045605fe5ec7c8 = $(`<div id="html_39cc369f4e51425697045605fe5ec7c8" style="width: 100.0%; height: 100.0%;"> HALLBERG RASSY 352/187 1981 "Scandinavia", location - Stockholm </div>`)[0];
            popup_aa421771e4924f5b83775c4d389dae1b.setContent(html_39cc369f4e51425697045605fe5ec7c8);
        

        marker_96963ec047af495ba9aba382954a111a.bindPopup(popup_aa421771e4924f5b83775c4d389dae1b)
        ;

        
    
    
            var marker_865fa009e7bb44089e9fd9e4cc1ef9b8 = L.marker(
                [59.28143887445055, 18.070304106755746],
                {"radius": 1}
            ).addTo(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var icon_2109342f1025430b89c90365efd2e5e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_865fa009e7bb44089e9fd9e4cc1ef9b8.setIcon(icon_2109342f1025430b89c90365efd2e5e2);
        
    
        var popup_4d373affc5c84fa6ad5b1e71b90b5aa0 = L.popup({"maxWidth": "100%"});

        
            var html_fab9b921278f4606b0e953ddf32bf4e5 = $(`<div id="html_fab9b921278f4606b0e953ddf32bf4e5" style="width: 100.0%; height: 100.0%;"> Hallberg-Rassy 352 i spanska Medelhavet, location - Stockholm </div>`)[0];
            popup_4d373affc5c84fa6ad5b1e71b90b5aa0.setContent(html_fab9b921278f4606b0e953ddf32bf4e5);
        

        marker_865fa009e7bb44089e9fd9e4cc1ef9b8.bindPopup(popup_4d373affc5c84fa6ad5b1e71b90b5aa0)
        ;

        
    
    
            var marker_85b27e92205849d88408c1d72efd1100 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var icon_2371605d7eaa420d8aa32a50b56ed8a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_85b27e92205849d88408c1d72efd1100.setIcon(icon_2371605d7eaa420d8aa32a50b56ed8a3);
        
    
        var popup_b1958499d9834b7ba1d33ff1dec7d8ea = L.popup({"maxWidth": "100%"});

        
            var html_b432b2e6a1044778ba1e73a7231bce75 = $(`<div id="html_b432b2e6a1044778ba1e73a7231bce75" style="width: 100.0%; height: 100.0%;"> Hallberg Rassy 352 Scandinavia, location - Göteborg </div>`)[0];
            popup_b1958499d9834b7ba1d33ff1dec7d8ea.setContent(html_b432b2e6a1044778ba1e73a7231bce75);
        

        marker_85b27e92205849d88408c1d72efd1100.bindPopup(popup_b1958499d9834b7ba1d33ff1dec7d8ea)
        ;

        
    
    
            var marker_d3d12222c72940d38636897fb055ef77 = L.marker(
                [57.702182040042814, 11.959975701687867],
                {"radius": 1}
            ).addTo(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var icon_b1e1e25c886f4a9ba06b0af9683a4ba1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d3d12222c72940d38636897fb055ef77.setIcon(icon_b1e1e25c886f4a9ba06b0af9683a4ba1);
        
    
        var popup_3372390c2096417aba021ccff33e8c8b = L.popup({"maxWidth": "100%"});

        
            var html_8b57dd8a27da412a9568f541c540be85 = $(`<div id="html_8b57dd8a27da412a9568f541c540be85" style="width: 100.0%; height: 100.0%;"> Hallberg-Rassy 352 -1980, location - Göteborg </div>`)[0];
            popup_3372390c2096417aba021ccff33e8c8b.setContent(html_8b57dd8a27da412a9568f541c540be85);
        

        marker_d3d12222c72940d38636897fb055ef77.bindPopup(popup_3372390c2096417aba021ccff33e8c8b)
        ;

        
    
    
            var marker_1c053159da89446792c9440232e54206 = L.marker(
                [59.306273977132655, 18.120897415030797],
                {"radius": 1}
            ).addTo(marker_cluster_75e81da442ab477cb0510eb68f977b0c);
        
    
            var icon_f37609ac4cf5477182ef4bd056faff76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1c053159da89446792c9440232e54206.setIcon(icon_f37609ac4cf5477182ef4bd056faff76);
        
    
        var popup_26a54a0d924a48bb9fe14e427fead69b = L.popup({"maxWidth": "100%"});

        
            var html_4493a7a7c92f45cda33f7cbd019a5644 = $(`<div id="html_4493a7a7c92f45cda33f7cbd019a5644" style="width: 100.0%; height: 100.0%;"> Hallberg-Rassy 352 Scandinavia HR352, location - Stockholm </div>`)[0];
            popup_26a54a0d924a48bb9fe14e427fead69b.setContent(html_4493a7a7c92f45cda33f7cbd019a5644);
        

        marker_1c053159da89446792c9440232e54206.bindPopup(popup_26a54a0d924a48bb9fe14e427fead69b)
        ;

        
    
</script>