<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9ebf602cf0fd4c2e94d48b3e627d71ce {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_9ebf602cf0fd4c2e94d48b3e627d71ce" ></div>
        
</body>
<script>    
    
            var map_9ebf602cf0fd4c2e94d48b3e627d71ce = L.map(
                "map_9ebf602cf0fd4c2e94d48b3e627d71ce",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_95a454b43eb84250bc6e7583f8c8eba9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9ebf602cf0fd4c2e94d48b3e627d71ce);
        
    
            var marker_cluster_4091bb3d4f88432b9054876487efad6d = L.markerClusterGroup(
                {}
            );
            map_9ebf602cf0fd4c2e94d48b3e627d71ce.addLayer(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var marker_ef50b25cceb24b1d8b03a87f207e5b7c = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_3c7033b25ef142228a45a325770823c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ef50b25cceb24b1d8b03a87f207e5b7c.setIcon(icon_3c7033b25ef142228a45a325770823c8);
        
    
        var popup_0aeb1a624c9342da96cb5215c1e15078 = L.popup({"maxWidth": "100%"});

        
            var html_5d1402aacd86405988fa974c1dd26879 = $(`<div id="html_5d1402aacd86405988fa974c1dd26879" style="width: 100.0%; height: 100.0%;"> Nova 33 nyast, location - Göteborg </div>`)[0];
            popup_0aeb1a624c9342da96cb5215c1e15078.setContent(html_5d1402aacd86405988fa974c1dd26879);
        

        marker_ef50b25cceb24b1d8b03a87f207e5b7c.bindPopup(popup_0aeb1a624c9342da96cb5215c1e15078)
        ;

        
    
    
            var marker_820b20440ff040c086608ab73b1a2f12 = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_8d54236d7d2441baa03511ff7df485cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_820b20440ff040c086608ab73b1a2f12.setIcon(icon_8d54236d7d2441baa03511ff7df485cb);
        
    
        var popup_4e8934499ed1412d945c911aabf44ca4 = L.popup({"maxWidth": "100%"});

        
            var html_d461491918614c6b9d64caffcaff3dc4 = $(`<div id="html_d461491918614c6b9d64caffcaff3dc4" style="width: 100.0%; height: 100.0%;"> Najad 343 Dl #8 1981, location - Jönköping </div>`)[0];
            popup_4e8934499ed1412d945c911aabf44ca4.setContent(html_d461491918614c6b9d64caffcaff3dc4);
        

        marker_820b20440ff040c086608ab73b1a2f12.bindPopup(popup_4e8934499ed1412d945c911aabf44ca4)
        ;

        
    
    
            var marker_2e1ece26d982479cb92b72a9229a4ade = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_6899c45ba3984b9f92c763212c59fe6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2e1ece26d982479cb92b72a9229a4ade.setIcon(icon_6899c45ba3984b9f92c763212c59fe6b);
        
    
        var popup_7504a32bfc684763960053cfbbda60ee = L.popup({"maxWidth": "100%"});

        
            var html_540b5a0c13c74afa8e8e53ef78d9a1ff = $(`<div id="html_540b5a0c13c74afa8e8e53ef78d9a1ff" style="width: 100.0%; height: 100.0%;"> Najad 34 S, location - Kalmar </div>`)[0];
            popup_7504a32bfc684763960053cfbbda60ee.setContent(html_540b5a0c13c74afa8e8e53ef78d9a1ff);
        

        marker_2e1ece26d982479cb92b72a9229a4ade.bindPopup(popup_7504a32bfc684763960053cfbbda60ee)
        ;

        
    
    
            var marker_5b18b28acba04d1eb5c80a83eb8cb943 = L.marker(
                [57.68484793664785, 11.931386196987745],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_5add357a1740495dafaf2aae2ac3b306 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5b18b28acba04d1eb5c80a83eb8cb943.setIcon(icon_5add357a1740495dafaf2aae2ac3b306);
        
    
        var popup_941078866e9745368eb505097cc1416c = L.popup({"maxWidth": "100%"});

        
            var html_5aee15c31d4f4569a5b62ee6ef59b03e = $(`<div id="html_5aee15c31d4f4569a5b62ee6ef59b03e" style="width: 100.0%; height: 100.0%;"> Najad 361, från 2001, location - Göteborg </div>`)[0];
            popup_941078866e9745368eb505097cc1416c.setContent(html_5aee15c31d4f4569a5b62ee6ef59b03e);
        

        marker_5b18b28acba04d1eb5c80a83eb8cb943.bindPopup(popup_941078866e9745368eb505097cc1416c)
        ;

        
    
    
            var marker_30a8515946a046ce896e72565766b142 = L.marker(
                [65.9468826, 20.0542807],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_b43f9424593848b4a895254ede763ae8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_30a8515946a046ce896e72565766b142.setIcon(icon_b43f9424593848b4a895254ede763ae8);
        
    
        var popup_92ccc3d181944960b01bd11281ef5e82 = L.popup({"maxWidth": "100%"});

        
            var html_1d82cb8b2e4a499d9a8db429b184d0ec = $(`<div id="html_1d82cb8b2e4a499d9a8db429b184d0ec" style="width: 100.0%; height: 100.0%;"> Najad 320 Nr 48, location - Älvsborg </div>`)[0];
            popup_92ccc3d181944960b01bd11281ef5e82.setContent(html_1d82cb8b2e4a499d9a8db429b184d0ec);
        

        marker_30a8515946a046ce896e72565766b142.bindPopup(popup_92ccc3d181944960b01bd11281ef5e82)
        ;

        
    
    
            var marker_8894e5e00d3d488a97a4a20c1e25b882 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_ec74c66455bf42d3a20029bf02748552 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_8894e5e00d3d488a97a4a20c1e25b882.setIcon(icon_ec74c66455bf42d3a20029bf02748552);
        
    
        var popup_2fbaa9c643bc40c29ab2d30cb8187228 = L.popup({"maxWidth": "100%"});

        
            var html_72093f6ae74a4d22bb75e8d8e847a3e7 = $(`<div id="html_72093f6ae74a4d22bb75e8d8e847a3e7" style="width: 100.0%; height: 100.0%;"> Najad 332, location - Stockholm </div>`)[0];
            popup_2fbaa9c643bc40c29ab2d30cb8187228.setContent(html_72093f6ae74a4d22bb75e8d8e847a3e7);
        

        marker_8894e5e00d3d488a97a4a20c1e25b882.bindPopup(popup_2fbaa9c643bc40c29ab2d30cb8187228)
        ;

        
    
    
            var marker_d53e47d2b81842e78becb975fd7f2ae1 = L.marker(
                [59.30757668916656, 18.04266183208077],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_d86b5ecf8b9646f2a3504266770618d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d53e47d2b81842e78becb975fd7f2ae1.setIcon(icon_d86b5ecf8b9646f2a3504266770618d1);
        
    
        var popup_994f23480c2b420199c1c1894c1d6a75 = L.popup({"maxWidth": "100%"});

        
            var html_6bbd3cf2134a41228f07ff1153381e91 = $(`<div id="html_6bbd3cf2134a41228f07ff1153381e91" style="width: 100.0%; height: 100.0%;"> Najad 395 AC, location - Stockholm </div>`)[0];
            popup_994f23480c2b420199c1c1894c1d6a75.setContent(html_6bbd3cf2134a41228f07ff1153381e91);
        

        marker_d53e47d2b81842e78becb975fd7f2ae1.bindPopup(popup_994f23480c2b420199c1c1894c1d6a75)
        ;

        
    
    
            var marker_c981c220a3894c6ba5592d4f38a30ad1 = L.marker(
                [57.6889547164946, 12.005152288072686],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_0aa0c679ccdc45f58cee00bca99379b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c981c220a3894c6ba5592d4f38a30ad1.setIcon(icon_0aa0c679ccdc45f58cee00bca99379b3);
        
    
        var popup_9cf5e3e445ae4418964852fb0c3e0290 = L.popup({"maxWidth": "100%"});

        
            var html_50b78c681c42448dae5a58fb334431d9 = $(`<div id="html_50b78c681c42448dae5a58fb334431d9" style="width: 100.0%; height: 100.0%;"> Najad 440 / 2011, location - Göteborg </div>`)[0];
            popup_9cf5e3e445ae4418964852fb0c3e0290.setContent(html_50b78c681c42448dae5a58fb334431d9);
        

        marker_c981c220a3894c6ba5592d4f38a30ad1.bindPopup(popup_9cf5e3e445ae4418964852fb0c3e0290)
        ;

        
    
    
            var marker_b16fab0fd98f4f7fa9a3bfba973a588b = L.marker(
                [57.719025185208935, 11.982357049930119],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_b6fc8a3f743a478b8449c41fd8bf89da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b16fab0fd98f4f7fa9a3bfba973a588b.setIcon(icon_b6fc8a3f743a478b8449c41fd8bf89da);
        
    
        var popup_897fa483fc1c402e8addfb711724ec3f = L.popup({"maxWidth": "100%"});

        
            var html_093c0e39e87d41b9ab408788fa973649 = $(`<div id="html_093c0e39e87d41b9ab408788fa973649" style="width: 100.0%; height: 100.0%;"> Najad 505 / 2008, location - Göteborg </div>`)[0];
            popup_897fa483fc1c402e8addfb711724ec3f.setContent(html_093c0e39e87d41b9ab408788fa973649);
        

        marker_b16fab0fd98f4f7fa9a3bfba973a588b.bindPopup(popup_897fa483fc1c402e8addfb711724ec3f)
        ;

        
    
    
            var marker_5b2cded9bb05471787697e4726d63289 = L.marker(
                [60.3133279, 15.3716761],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_6a3750dd25b34f909b1d37875995cf87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5b2cded9bb05471787697e4726d63289.setIcon(icon_6a3750dd25b34f909b1d37875995cf87);
        
    
        var popup_e553619c9163403ba12f4da0582735b9 = L.popup({"maxWidth": "100%"});

        
            var html_e1f3fa4c4fe34dda9f09861ea91b2221 = $(`<div id="html_e1f3fa4c4fe34dda9f09861ea91b2221" style="width: 100.0%; height: 100.0%;"> Maxi 95, -78, nr. 809, fint skick, location - Skaraborg </div>`)[0];
            popup_e553619c9163403ba12f4da0582735b9.setContent(html_e1f3fa4c4fe34dda9f09861ea91b2221);
        

        marker_5b2cded9bb05471787697e4726d63289.bindPopup(popup_e553619c9163403ba12f4da0582735b9)
        ;

        
    
    
            var marker_8f59e977e6b94513aee6ad1b829ce2a4 = L.marker(
                [59.364905953435354, 18.105343797351185],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_aa85ce2eb1c545db8ed874c32e70914e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_8f59e977e6b94513aee6ad1b829ce2a4.setIcon(icon_aa85ce2eb1c545db8ed874c32e70914e);
        
    
        var popup_167971c6845549eaa1b1657774bb9e08 = L.popup({"maxWidth": "100%"});

        
            var html_43bccc9d9c02454284d9df908ac264f1 = $(`<div id="html_43bccc9d9c02454284d9df908ac264f1" style="width: 100.0%; height: 100.0%;"> Najad 343, location - Stockholm </div>`)[0];
            popup_167971c6845549eaa1b1657774bb9e08.setContent(html_43bccc9d9c02454284d9df908ac264f1);
        

        marker_8f59e977e6b94513aee6ad1b829ce2a4.bindPopup(popup_167971c6845549eaa1b1657774bb9e08)
        ;

        
    
    
            var marker_20750490c766449b990ccd5cb98d1028 = L.marker(
                [59.35387422241214, 18.104439849304764],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_f399dce9e11946c094f22a881b2012e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_20750490c766449b990ccd5cb98d1028.setIcon(icon_f399dce9e11946c094f22a881b2012e5);
        
    
        var popup_b1d1e849257a440daf437bed055e89bb = L.popup({"maxWidth": "100%"});

        
            var html_1bd8c92acf4c46bcb86d3f6cfd997c25 = $(`<div id="html_1bd8c92acf4c46bcb86d3f6cfd997c25" style="width: 100.0%; height: 100.0%;"> Beneteau 42 cc Clipper -04, location - Stockholm </div>`)[0];
            popup_b1d1e849257a440daf437bed055e89bb.setContent(html_1bd8c92acf4c46bcb86d3f6cfd997c25);
        

        marker_20750490c766449b990ccd5cb98d1028.bindPopup(popup_b1d1e849257a440daf437bed055e89bb)
        ;

        
    
    
            var marker_43a88b3f73d04d33b4763500bd743c8a = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_96c62bd4e9354f528f43e8887fd16b15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_43a88b3f73d04d33b4763500bd743c8a.setIcon(icon_96c62bd4e9354f528f43e8887fd16b15);
        
    
        var popup_b0b6d0b235794ae3bec09ff6bbdc178d = L.popup({"maxWidth": "100%"});

        
            var html_38e75909682e4cb5aef8c5c9440884a7 = $(`<div id="html_38e75909682e4cb5aef8c5c9440884a7" style="width: 100.0%; height: 100.0%;"> Segelbåt Granada 27+Vagn+Utombordare, location - Halland </div>`)[0];
            popup_b0b6d0b235794ae3bec09ff6bbdc178d.setContent(html_38e75909682e4cb5aef8c5c9440884a7);
        

        marker_43a88b3f73d04d33b4763500bd743c8a.bindPopup(popup_b0b6d0b235794ae3bec09ff6bbdc178d)
        ;

        
    
    
            var marker_af8b3f48227141108e0fdc9048f9f959 = L.marker(
                [59.29040966781055, 18.11088049562854],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_0f5ec53abe63487ba66090618d0b8bdd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_af8b3f48227141108e0fdc9048f9f959.setIcon(icon_0f5ec53abe63487ba66090618d0b8bdd);
        
    
        var popup_e9492a2025ad4ed29893dcaafdf7df8f = L.popup({"maxWidth": "100%"});

        
            var html_08e9210e33c64304b27cfefe3ec0f06a = $(`<div id="html_08e9210e33c64304b27cfefe3ec0f06a" style="width: 100.0%; height: 100.0%;"> Najad 373/2000, location - Stockholm </div>`)[0];
            popup_e9492a2025ad4ed29893dcaafdf7df8f.setContent(html_08e9210e33c64304b27cfefe3ec0f06a);
        

        marker_af8b3f48227141108e0fdc9048f9f959.bindPopup(popup_e9492a2025ad4ed29893dcaafdf7df8f)
        ;

        
    
    
            var marker_a115dbb1061f4fefb5069bb8730d5e2d = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_e2ad7c8000e44407b823308c3d0f3c8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a115dbb1061f4fefb5069bb8730d5e2d.setIcon(icon_e2ad7c8000e44407b823308c3d0f3c8e);
        
    
        var popup_a5ba25b8fc1541d29c6aecc630e1d347 = L.popup({"maxWidth": "100%"});

        
            var html_8d491331a63c496a8c771e67b1af4e9f = $(`<div id="html_8d491331a63c496a8c771e67b1af4e9f" style="width: 100.0%; height: 100.0%;"> Najad 460 2004, location - Helsingborg </div>`)[0];
            popup_a5ba25b8fc1541d29c6aecc630e1d347.setContent(html_8d491331a63c496a8c771e67b1af4e9f);
        

        marker_a115dbb1061f4fefb5069bb8730d5e2d.bindPopup(popup_a5ba25b8fc1541d29c6aecc630e1d347)
        ;

        
    
    
            var marker_b934c78704e04408a3496da716b642e0 = L.marker(
                [59.35631937352042, 18.102387602673137],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_25c8d2f2a1684a0ab4240cd25c5cda0a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b934c78704e04408a3496da716b642e0.setIcon(icon_25c8d2f2a1684a0ab4240cd25c5cda0a);
        
    
        var popup_34d51e744ef14429a15f501ab99fd5c3 = L.popup({"maxWidth": "100%"});

        
            var html_453068674965421ea20dd6a464df8046 = $(`<div id="html_453068674965421ea20dd6a464df8046" style="width: 100.0%; height: 100.0%;"> Najad 34, välutrustad, ny motor, location - Stockholm </div>`)[0];
            popup_34d51e744ef14429a15f501ab99fd5c3.setContent(html_453068674965421ea20dd6a464df8046);
        

        marker_b934c78704e04408a3496da716b642e0.bindPopup(popup_34d51e744ef14429a15f501ab99fd5c3)
        ;

        
    
    
            var marker_326d4e8798c949cfadffeb5f0a6cbe56 = L.marker(
                [56.64857511936923, 16.324285400456382],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_ad634ce2b1a540dca7d13c214190d2f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_326d4e8798c949cfadffeb5f0a6cbe56.setIcon(icon_ad634ce2b1a540dca7d13c214190d2f3);
        
    
        var popup_a984e783cc0a4e2990d920c1df8ad300 = L.popup({"maxWidth": "100%"});

        
            var html_9340707a470f468ebfb5b1c378c6bdc6 = $(`<div id="html_9340707a470f468ebfb5b1c378c6bdc6" style="width: 100.0%; height: 100.0%;"> Runn 37 - Långfärdsutrustad, location - Kalmar </div>`)[0];
            popup_a984e783cc0a4e2990d920c1df8ad300.setContent(html_9340707a470f468ebfb5b1c378c6bdc6);
        

        marker_326d4e8798c949cfadffeb5f0a6cbe56.bindPopup(popup_a984e783cc0a4e2990d920c1df8ad300)
        ;

        
    
    
            var marker_2c0ebb176a63451284b077beeb67eb98 = L.marker(
                [57.71296961550287, 11.931418840573428],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_d7bfabfbc8d549bcbc73583bce5f81e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2c0ebb176a63451284b077beeb67eb98.setIcon(icon_d7bfabfbc8d549bcbc73583bce5f81e7);
        
    
        var popup_7663af89abf847918efa5850b710ace7 = L.popup({"maxWidth": "100%"});

        
            var html_36715925fc804c2c8c06dce22bafdaa5 = $(`<div id="html_36715925fc804c2c8c06dce22bafdaa5" style="width: 100.0%; height: 100.0%;"> Najad 330 1994, location - Göteborg </div>`)[0];
            popup_7663af89abf847918efa5850b710ace7.setContent(html_36715925fc804c2c8c06dce22bafdaa5);
        

        marker_2c0ebb176a63451284b077beeb67eb98.bindPopup(popup_7663af89abf847918efa5850b710ace7)
        ;

        
    
    
            var marker_dd37af8d1b1e4439b3059b5e627ee1bf = L.marker(
                [57.72419175826574, 12.000064505821452],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_0d1ade06f3f34cea83be31104bdfad25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_dd37af8d1b1e4439b3059b5e627ee1bf.setIcon(icon_0d1ade06f3f34cea83be31104bdfad25);
        
    
        var popup_34ac1f7d5d3a4f7fbf5e6226cc1aad71 = L.popup({"maxWidth": "100%"});

        
            var html_ab288b963cab4486813fa8d6f2095bc6 = $(`<div id="html_ab288b963cab4486813fa8d6f2095bc6" style="width: 100.0%; height: 100.0%;"> Najad 34, location - Göteborg </div>`)[0];
            popup_34ac1f7d5d3a4f7fbf5e6226cc1aad71.setContent(html_ab288b963cab4486813fa8d6f2095bc6);
        

        marker_dd37af8d1b1e4439b3059b5e627ee1bf.bindPopup(popup_34ac1f7d5d3a4f7fbf5e6226cc1aad71)
        ;

        
    
    
            var marker_bf1f4623f8b144cf8ad38b7de9329fb5 = L.marker(
                [58.32731925, 16.0256670264938],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_275f77b2552a4af49d3235b71327222f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_bf1f4623f8b144cf8ad38b7de9329fb5.setIcon(icon_275f77b2552a4af49d3235b71327222f);
        
    
        var popup_7e7e084118fd496195d89c3b2166c2aa = L.popup({"maxWidth": "100%"});

        
            var html_d65e1d27e60c49fa97c94537420d4f27 = $(`<div id="html_d65e1d27e60c49fa97c94537420d4f27" style="width: 100.0%; height: 100.0%;"> Najad 343 1982 årsmodell, location - Östergötland </div>`)[0];
            popup_7e7e084118fd496195d89c3b2166c2aa.setContent(html_d65e1d27e60c49fa97c94537420d4f27);
        

        marker_bf1f4623f8b144cf8ad38b7de9329fb5.bindPopup(popup_7e7e084118fd496195d89c3b2166c2aa)
        ;

        
    
    
            var marker_465e9a8ff6b842d9b551880ff8fa72f3 = L.marker(
                [57.72143298174532, 11.930858674202401],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_d1818711c13142e5a8eac86fc73a3cc7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_465e9a8ff6b842d9b551880ff8fa72f3.setIcon(icon_d1818711c13142e5a8eac86fc73a3cc7);
        
    
        var popup_efbd85365ae544118abf51e10584be87 = L.popup({"maxWidth": "100%"});

        
            var html_b76727d61e5447cea3e474946ac00f4b = $(`<div id="html_b76727d61e5447cea3e474946ac00f4b" style="width: 100.0%; height: 100.0%;"> Najad 440 AC / 2007, location - Göteborg </div>`)[0];
            popup_efbd85365ae544118abf51e10584be87.setContent(html_b76727d61e5447cea3e474946ac00f4b);
        

        marker_465e9a8ff6b842d9b551880ff8fa72f3.bindPopup(popup_efbd85365ae544118abf51e10584be87)
        ;

        
    
    
            var marker_6017fecd8f4b4b9dba5d8c956c7404e9 = L.marker(
                [57.695152069011165, 11.989236477765228],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_77c5b06effe2423b8d47db0883e4a13d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_6017fecd8f4b4b9dba5d8c956c7404e9.setIcon(icon_77c5b06effe2423b8d47db0883e4a13d);
        
    
        var popup_12022fde57734dfbb464a249198e5335 = L.popup({"maxWidth": "100%"});

        
            var html_6c0232e5da2744a19951883cb4a3f2e7 = $(`<div id="html_6c0232e5da2744a19951883cb4a3f2e7" style="width: 100.0%; height: 100.0%;"> Najad 511 / 2004, location - Göteborg </div>`)[0];
            popup_12022fde57734dfbb464a249198e5335.setContent(html_6c0232e5da2744a19951883cb4a3f2e7);
        

        marker_6017fecd8f4b4b9dba5d8c956c7404e9.bindPopup(popup_12022fde57734dfbb464a249198e5335)
        ;

        
    
    
            var marker_3ef576bf811343809b10913abe329d13 = L.marker(
                [57.68921895927896, 12.011911894958759],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_710a3c98f1764d339afce5116f030c7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_3ef576bf811343809b10913abe329d13.setIcon(icon_710a3c98f1764d339afce5116f030c7e);
        
    
        var popup_a74a2169e42f4b718106e2ab8f7fc4f1 = L.popup({"maxWidth": "100%"});

        
            var html_19422c5f1e9b48768d0cf079501cd40c = $(`<div id="html_19422c5f1e9b48768d0cf079501cd40c" style="width: 100.0%; height: 100.0%;"> Najad 460 / 2003, location - Göteborg </div>`)[0];
            popup_a74a2169e42f4b718106e2ab8f7fc4f1.setContent(html_19422c5f1e9b48768d0cf079501cd40c);
        

        marker_3ef576bf811343809b10913abe329d13.bindPopup(popup_a74a2169e42f4b718106e2ab8f7fc4f1)
        ;

        
    
    
            var marker_3a1bec0fac084616b26bee96e230866c = L.marker(
                [57.7372069688353, 11.9179892389375],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_a60da3b280bd4507a1ea371d5ff400ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_3a1bec0fac084616b26bee96e230866c.setIcon(icon_a60da3b280bd4507a1ea371d5ff400ce);
        
    
        var popup_31ea59ac31924bac8243317286b6351a = L.popup({"maxWidth": "100%"});

        
            var html_72dc0bac3d7445c2b3ca0d916f5ce7ae = $(`<div id="html_72dc0bac3d7445c2b3ca0d916f5ce7ae" style="width: 100.0%; height: 100.0%;"> Najad 391 / 1999, location - Göteborg </div>`)[0];
            popup_31ea59ac31924bac8243317286b6351a.setContent(html_72dc0bac3d7445c2b3ca0d916f5ce7ae);
        

        marker_3a1bec0fac084616b26bee96e230866c.bindPopup(popup_31ea59ac31924bac8243317286b6351a)
        ;

        
    
    
            var marker_9487e72e9106425db7b9364f29c183fa = L.marker(
                [59.276157640051366, 18.056816722687035],
                {"radius": 1}
            ).addTo(marker_cluster_4091bb3d4f88432b9054876487efad6d);
        
    
            var icon_520a037d69c3488bb4199edce69abe14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9487e72e9106425db7b9364f29c183fa.setIcon(icon_520a037d69c3488bb4199edce69abe14);
        
    
        var popup_af08a746148b429c9e580632e9bc4ffe = L.popup({"maxWidth": "100%"});

        
            var html_672f17f648aa40f2a01102e6a3974acb = $(`<div id="html_672f17f648aa40f2a01102e6a3974acb" style="width: 100.0%; height: 100.0%;"> Najad 332 - 2006 inkl. lån av båtplats, location - Stockholm </div>`)[0];
            popup_af08a746148b429c9e580632e9bc4ffe.setContent(html_672f17f648aa40f2a01102e6a3974acb);
        

        marker_9487e72e9106425db7b9364f29c183fa.bindPopup(popup_af08a746148b429c9e580632e9bc4ffe)
        ;

        
    
</script>