<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_df49050fad174f3297187b3ed7a68152 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_df49050fad174f3297187b3ed7a68152" ></div>
        
</body>
<script>    
    
            var map_df49050fad174f3297187b3ed7a68152 = L.map(
                "map_df49050fad174f3297187b3ed7a68152",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5625f70e477d4ed2b52b3747b027b6ea = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_df49050fad174f3297187b3ed7a68152);
        
    
            var marker_cluster_7b2187aa80da4114ab4320dd673c3ce7 = L.markerClusterGroup(
                {}
            );
            map_df49050fad174f3297187b3ed7a68152.addLayer(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var marker_ed2d5be4c521425c95fc5175a447e29e = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_dcf365cdb4274a8f9d57d96b66526271 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ed2d5be4c521425c95fc5175a447e29e.setIcon(icon_dcf365cdb4274a8f9d57d96b66526271);
        
    
        var popup_817e408c77a94b1fafa6020f48f67e25 = L.popup({"maxWidth": "100%"});

        
            var html_597ac048314645bf8d3dcd8ab6dad2d2 = $(`<div id="html_597ac048314645bf8d3dcd8ab6dad2d2" style="width: 100.0%; height: 100.0%;"> Nova 33 senast byggda, location - Göteborg </div>`)[0];
            popup_817e408c77a94b1fafa6020f48f67e25.setContent(html_597ac048314645bf8d3dcd8ab6dad2d2);
        

        marker_ed2d5be4c521425c95fc5175a447e29e.bindPopup(popup_817e408c77a94b1fafa6020f48f67e25)
        ;

        
    
    
            var marker_045ae07f76564ddf80754b63b858097c = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_043d712efa1543e494b894acb1d10204 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_045ae07f76564ddf80754b63b858097c.setIcon(icon_043d712efa1543e494b894acb1d10204);
        
    
        var popup_d5a93f8606a4495e88e785e57d755fa9 = L.popup({"maxWidth": "100%"});

        
            var html_51389774df034995b4b63fe5856f4f92 = $(`<div id="html_51389774df034995b4b63fe5856f4f92" style="width: 100.0%; height: 100.0%;"> Najad 343 Dl #8 1981, location - Jönköping </div>`)[0];
            popup_d5a93f8606a4495e88e785e57d755fa9.setContent(html_51389774df034995b4b63fe5856f4f92);
        

        marker_045ae07f76564ddf80754b63b858097c.bindPopup(popup_d5a93f8606a4495e88e785e57d755fa9)
        ;

        
    
    
            var marker_79263d1c0d9341379799a9235fd4b749 = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_5cfd31b9c8f342dcb4a412c01327701d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_79263d1c0d9341379799a9235fd4b749.setIcon(icon_5cfd31b9c8f342dcb4a412c01327701d);
        
    
        var popup_da0e2760b95940b8802d036805aed80f = L.popup({"maxWidth": "100%"});

        
            var html_21e359597cc946b2bc6bd3d68f8a914c = $(`<div id="html_21e359597cc946b2bc6bd3d68f8a914c" style="width: 100.0%; height: 100.0%;"> Najad 34 S, location - Kalmar </div>`)[0];
            popup_da0e2760b95940b8802d036805aed80f.setContent(html_21e359597cc946b2bc6bd3d68f8a914c);
        

        marker_79263d1c0d9341379799a9235fd4b749.bindPopup(popup_da0e2760b95940b8802d036805aed80f)
        ;

        
    
    
            var marker_4d28b3ccc4814d079e786efb13ba4cb5 = L.marker(
                [57.662722659424986, 11.998946343991529],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_9e039da7f5d046eba738d337f7c16972 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_4d28b3ccc4814d079e786efb13ba4cb5.setIcon(icon_9e039da7f5d046eba738d337f7c16972);
        
    
        var popup_17f37990673d4db98e5979598c568665 = L.popup({"maxWidth": "100%"});

        
            var html_08db3e4c744b47c0a55d98cf9696f847 = $(`<div id="html_08db3e4c744b47c0a55d98cf9696f847" style="width: 100.0%; height: 100.0%;"> Najad 361, från 2001, location - Göteborg </div>`)[0];
            popup_17f37990673d4db98e5979598c568665.setContent(html_08db3e4c744b47c0a55d98cf9696f847);
        

        marker_4d28b3ccc4814d079e786efb13ba4cb5.bindPopup(popup_17f37990673d4db98e5979598c568665)
        ;

        
    
    
            var marker_c87c8bff13384173b06fb872b6afc7b1 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_8f9ca2c78e3c4cf5ab7ca9d7211db292 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c87c8bff13384173b06fb872b6afc7b1.setIcon(icon_8f9ca2c78e3c4cf5ab7ca9d7211db292);
        
    
        var popup_cc95ad89faee44f28e3a4e965b5375fd = L.popup({"maxWidth": "100%"});

        
            var html_037511f86cf347adaaf5e1a37a69abb3 = $(`<div id="html_037511f86cf347adaaf5e1a37a69abb3" style="width: 100.0%; height: 100.0%;"> Najad 332, location - Stockholm </div>`)[0];
            popup_cc95ad89faee44f28e3a4e965b5375fd.setContent(html_037511f86cf347adaaf5e1a37a69abb3);
        

        marker_c87c8bff13384173b06fb872b6afc7b1.bindPopup(popup_cc95ad89faee44f28e3a4e965b5375fd)
        ;

        
    
    
            var marker_206a510445534a03ae84c45adc604285 = L.marker(
                [59.288155825453146, 18.11167696848861],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_aea71caaa5d0413892416b691fab76c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_206a510445534a03ae84c45adc604285.setIcon(icon_aea71caaa5d0413892416b691fab76c6);
        
    
        var popup_bb74c3e695dd4e04964a000fb0dc3e1d = L.popup({"maxWidth": "100%"});

        
            var html_837609a4861843ea90a7c108bcdc603f = $(`<div id="html_837609a4861843ea90a7c108bcdc603f" style="width: 100.0%; height: 100.0%;"> Najad 395 AC, location - Stockholm </div>`)[0];
            popup_bb74c3e695dd4e04964a000fb0dc3e1d.setContent(html_837609a4861843ea90a7c108bcdc603f);
        

        marker_206a510445534a03ae84c45adc604285.bindPopup(popup_bb74c3e695dd4e04964a000fb0dc3e1d)
        ;

        
    
    
            var marker_7eaaa36779814a4fb2a92aa05b039a97 = L.marker(
                [57.662526769998934, 11.963773704513379],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_bcf111e4781f466e9ae6251ba654864c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7eaaa36779814a4fb2a92aa05b039a97.setIcon(icon_bcf111e4781f466e9ae6251ba654864c);
        
    
        var popup_c073574799234e138f8820d54e75f53c = L.popup({"maxWidth": "100%"});

        
            var html_8e69ce393c34448d9e7f460be0efcffa = $(`<div id="html_8e69ce393c34448d9e7f460be0efcffa" style="width: 100.0%; height: 100.0%;"> Najad 440 / 2011, location - Göteborg </div>`)[0];
            popup_c073574799234e138f8820d54e75f53c.setContent(html_8e69ce393c34448d9e7f460be0efcffa);
        

        marker_7eaaa36779814a4fb2a92aa05b039a97.bindPopup(popup_c073574799234e138f8820d54e75f53c)
        ;

        
    
    
            var marker_81973d59514a41de83f224cef9e7f6bb = L.marker(
                [57.728113373436415, 11.95922100089123],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_45ef287329b34fff8f7e6d9250229878 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_81973d59514a41de83f224cef9e7f6bb.setIcon(icon_45ef287329b34fff8f7e6d9250229878);
        
    
        var popup_712035ab03da4295b94d6f2ac8996f29 = L.popup({"maxWidth": "100%"});

        
            var html_99d97e26a7e543d684f9d78b84915045 = $(`<div id="html_99d97e26a7e543d684f9d78b84915045" style="width: 100.0%; height: 100.0%;"> Najad 505 / 2008, location - Göteborg </div>`)[0];
            popup_712035ab03da4295b94d6f2ac8996f29.setContent(html_99d97e26a7e543d684f9d78b84915045);
        

        marker_81973d59514a41de83f224cef9e7f6bb.bindPopup(popup_712035ab03da4295b94d6f2ac8996f29)
        ;

        
    
    
            var marker_36c3efd37e6f4b1aab03c9f729dbafb6 = L.marker(
                [60.3133279, 15.3716761],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_62ed88afc2be4fb0a48495e204adff42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_36c3efd37e6f4b1aab03c9f729dbafb6.setIcon(icon_62ed88afc2be4fb0a48495e204adff42);
        
    
        var popup_7807ad166c4f480ea363a0ecb69c3a97 = L.popup({"maxWidth": "100%"});

        
            var html_2cf2c3134fc64156b8b9c3bc99d099cc = $(`<div id="html_2cf2c3134fc64156b8b9c3bc99d099cc" style="width: 100.0%; height: 100.0%;"> Maxi 95, -78, nr. 809, fint skick, location - Skaraborg </div>`)[0];
            popup_7807ad166c4f480ea363a0ecb69c3a97.setContent(html_2cf2c3134fc64156b8b9c3bc99d099cc);
        

        marker_36c3efd37e6f4b1aab03c9f729dbafb6.bindPopup(popup_7807ad166c4f480ea363a0ecb69c3a97)
        ;

        
    
    
            var marker_0320fbbd9fa34469908b9505545d2f5b = L.marker(
                [59.366285055103155, 18.087883895886105],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_53210045cb114df39c48b8779df5b324 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_0320fbbd9fa34469908b9505545d2f5b.setIcon(icon_53210045cb114df39c48b8779df5b324);
        
    
        var popup_18eb11d072fb4ae5941b189b85b7635a = L.popup({"maxWidth": "100%"});

        
            var html_46e67dab6e8b412293ce27546fa8e726 = $(`<div id="html_46e67dab6e8b412293ce27546fa8e726" style="width: 100.0%; height: 100.0%;"> Najad 343, location - Stockholm </div>`)[0];
            popup_18eb11d072fb4ae5941b189b85b7635a.setContent(html_46e67dab6e8b412293ce27546fa8e726);
        

        marker_0320fbbd9fa34469908b9505545d2f5b.bindPopup(popup_18eb11d072fb4ae5941b189b85b7635a)
        ;

        
    
    
            var marker_242ea709607b4f959098bb11e0ed3f55 = L.marker(
                [59.30496447819639, 18.039963817855156],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_739d12fdbc3f4ad688af13c04aa7c483 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_242ea709607b4f959098bb11e0ed3f55.setIcon(icon_739d12fdbc3f4ad688af13c04aa7c483);
        
    
        var popup_d9647e682828429d8839b6a8f78cbf23 = L.popup({"maxWidth": "100%"});

        
            var html_5b96d5c55fa74a40b4c415d60e045ef2 = $(`<div id="html_5b96d5c55fa74a40b4c415d60e045ef2" style="width: 100.0%; height: 100.0%;"> Beneteau 42 cc Clipper -04, location - Stockholm </div>`)[0];
            popup_d9647e682828429d8839b6a8f78cbf23.setContent(html_5b96d5c55fa74a40b4c415d60e045ef2);
        

        marker_242ea709607b4f959098bb11e0ed3f55.bindPopup(popup_d9647e682828429d8839b6a8f78cbf23)
        ;

        
    
    
            var marker_b7fe55e83e764be59d463c3912f79413 = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_3b1d86a6af9a44a09c8fd991e2f7eeca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b7fe55e83e764be59d463c3912f79413.setIcon(icon_3b1d86a6af9a44a09c8fd991e2f7eeca);
        
    
        var popup_2567182321ce4f5194a4ffa8afe3cb73 = L.popup({"maxWidth": "100%"});

        
            var html_d3146586123d46828d8aac31c712ec32 = $(`<div id="html_d3146586123d46828d8aac31c712ec32" style="width: 100.0%; height: 100.0%;"> Segelbåt Granada 27+Vagn+Utombordare, location - Halland </div>`)[0];
            popup_2567182321ce4f5194a4ffa8afe3cb73.setContent(html_d3146586123d46828d8aac31c712ec32);
        

        marker_b7fe55e83e764be59d463c3912f79413.bindPopup(popup_2567182321ce4f5194a4ffa8afe3cb73)
        ;

        
    
    
            var marker_4b93816ee88948aa816626f0092cd272 = L.marker(
                [59.35452388757264, 18.098480310920802],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_a8d9984450474279b9fde6531dd36e29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_4b93816ee88948aa816626f0092cd272.setIcon(icon_a8d9984450474279b9fde6531dd36e29);
        
    
        var popup_5e9bd4da3bf54a9a831cb6dd6dddc16c = L.popup({"maxWidth": "100%"});

        
            var html_3a41524c1def409998f0d31c0c4512bc = $(`<div id="html_3a41524c1def409998f0d31c0c4512bc" style="width: 100.0%; height: 100.0%;"> Najad 373/2000, location - Stockholm </div>`)[0];
            popup_5e9bd4da3bf54a9a831cb6dd6dddc16c.setContent(html_3a41524c1def409998f0d31c0c4512bc);
        

        marker_4b93816ee88948aa816626f0092cd272.bindPopup(popup_5e9bd4da3bf54a9a831cb6dd6dddc16c)
        ;

        
    
    
            var marker_49c2ef0d247e45b9a4fc0a6e96276cd6 = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_09c3bba5552049028cb6461f6af14246 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_49c2ef0d247e45b9a4fc0a6e96276cd6.setIcon(icon_09c3bba5552049028cb6461f6af14246);
        
    
        var popup_af477e31d5d840f28949f9a60cca3da9 = L.popup({"maxWidth": "100%"});

        
            var html_3a0b2c4b459745949be59afd02c29c43 = $(`<div id="html_3a0b2c4b459745949be59afd02c29c43" style="width: 100.0%; height: 100.0%;"> Najad 460 2004, location - Helsingborg </div>`)[0];
            popup_af477e31d5d840f28949f9a60cca3da9.setContent(html_3a0b2c4b459745949be59afd02c29c43);
        

        marker_49c2ef0d247e45b9a4fc0a6e96276cd6.bindPopup(popup_af477e31d5d840f28949f9a60cca3da9)
        ;

        
    
    
            var marker_b30cd26a59a3433e8f8cb0eb346ce18d = L.marker(
                [59.34976461104502, 18.034435946845324],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_89b2d5ffb812486ca5fdbe9ec1ed2782 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b30cd26a59a3433e8f8cb0eb346ce18d.setIcon(icon_89b2d5ffb812486ca5fdbe9ec1ed2782);
        
    
        var popup_56833f0f126b4a2982ceb062bc6ce64f = L.popup({"maxWidth": "100%"});

        
            var html_09fe429e93fe475a8199349df7922f8d = $(`<div id="html_09fe429e93fe475a8199349df7922f8d" style="width: 100.0%; height: 100.0%;"> Najad 34, välutrustad, ny motor, location - Stockholm </div>`)[0];
            popup_56833f0f126b4a2982ceb062bc6ce64f.setContent(html_09fe429e93fe475a8199349df7922f8d);
        

        marker_b30cd26a59a3433e8f8cb0eb346ce18d.bindPopup(popup_56833f0f126b4a2982ceb062bc6ce64f)
        ;

        
    
    
            var marker_7321fc209db1428ba457c9f48f8359f1 = L.marker(
                [56.623065425693454, 16.36652979562292],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_8d77756d79654081b71d678784c7c95f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7321fc209db1428ba457c9f48f8359f1.setIcon(icon_8d77756d79654081b71d678784c7c95f);
        
    
        var popup_23a894bbb78f462baf44713680caefc4 = L.popup({"maxWidth": "100%"});

        
            var html_caa78ccaf1a7436e827d251df6e915ac = $(`<div id="html_caa78ccaf1a7436e827d251df6e915ac" style="width: 100.0%; height: 100.0%;"> Runn 37 - Långfärdsutrustad, location - Kalmar </div>`)[0];
            popup_23a894bbb78f462baf44713680caefc4.setContent(html_caa78ccaf1a7436e827d251df6e915ac);
        

        marker_7321fc209db1428ba457c9f48f8359f1.bindPopup(popup_23a894bbb78f462baf44713680caefc4)
        ;

        
    
    
            var marker_5793dad1d33849b8841cbff4ee1948fa = L.marker(
                [57.667010414024226, 11.9780657176092],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_eeac1af3f57c455dab2a8cff31779b4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5793dad1d33849b8841cbff4ee1948fa.setIcon(icon_eeac1af3f57c455dab2a8cff31779b4a);
        
    
        var popup_0b68d6d9d21e48bcb211b36eabf2e642 = L.popup({"maxWidth": "100%"});

        
            var html_9727f43a3aa9484e8643f8758eb3bc03 = $(`<div id="html_9727f43a3aa9484e8643f8758eb3bc03" style="width: 100.0%; height: 100.0%;"> Najad 330 1994, location - Göteborg </div>`)[0];
            popup_0b68d6d9d21e48bcb211b36eabf2e642.setContent(html_9727f43a3aa9484e8643f8758eb3bc03);
        

        marker_5793dad1d33849b8841cbff4ee1948fa.bindPopup(popup_0b68d6d9d21e48bcb211b36eabf2e642)
        ;

        
    
    
            var marker_60f711e4301e48a2850138af67af838f = L.marker(
                [57.70423856966515, 11.970255093924916],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_4b742eecf1a547d7972d7e56b89af3ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_60f711e4301e48a2850138af67af838f.setIcon(icon_4b742eecf1a547d7972d7e56b89af3ea);
        
    
        var popup_cb703cd66e764f56995ccf87829bed73 = L.popup({"maxWidth": "100%"});

        
            var html_13dae6dc1ca546e58587af1d9b1a9e49 = $(`<div id="html_13dae6dc1ca546e58587af1d9b1a9e49" style="width: 100.0%; height: 100.0%;"> Najad 34, location - Göteborg </div>`)[0];
            popup_cb703cd66e764f56995ccf87829bed73.setContent(html_13dae6dc1ca546e58587af1d9b1a9e49);
        

        marker_60f711e4301e48a2850138af67af838f.bindPopup(popup_cb703cd66e764f56995ccf87829bed73)
        ;

        
    
    
            var marker_9ba6f597aade4b2f9a5b49a34204387c = L.marker(
                [58.32731925, 16.0256670264938],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_923cbc77735b44ed997163b8b86603f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9ba6f597aade4b2f9a5b49a34204387c.setIcon(icon_923cbc77735b44ed997163b8b86603f3);
        
    
        var popup_6c84d2b61a7d43da9eb0ea828fe219fe = L.popup({"maxWidth": "100%"});

        
            var html_d44f2be55c41448e85059b6d86659a2e = $(`<div id="html_d44f2be55c41448e85059b6d86659a2e" style="width: 100.0%; height: 100.0%;"> Najad 343 1982 årsmodell, location - Östergötland </div>`)[0];
            popup_6c84d2b61a7d43da9eb0ea828fe219fe.setContent(html_d44f2be55c41448e85059b6d86659a2e);
        

        marker_9ba6f597aade4b2f9a5b49a34204387c.bindPopup(popup_6c84d2b61a7d43da9eb0ea828fe219fe)
        ;

        
    
    
            var marker_f9b7f148398b4cb9bf952a8f08f5a07c = L.marker(
                [57.754511991003675, 11.998600246134888],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_5a0cfbd9d8d54d749563100338bc12f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_f9b7f148398b4cb9bf952a8f08f5a07c.setIcon(icon_5a0cfbd9d8d54d749563100338bc12f5);
        
    
        var popup_dc66a47d45304bb88b5c276ff5d9ef53 = L.popup({"maxWidth": "100%"});

        
            var html_aa2701c29662492aad26166615d49634 = $(`<div id="html_aa2701c29662492aad26166615d49634" style="width: 100.0%; height: 100.0%;"> Najad 440 AC / 2007, location - Göteborg </div>`)[0];
            popup_dc66a47d45304bb88b5c276ff5d9ef53.setContent(html_aa2701c29662492aad26166615d49634);
        

        marker_f9b7f148398b4cb9bf952a8f08f5a07c.bindPopup(popup_dc66a47d45304bb88b5c276ff5d9ef53)
        ;

        
    
    
            var marker_7491da1ffa6547be8805ec09f15cd1e0 = L.marker(
                [57.688557226449895, 11.994732481659883],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_810af7a215da437b8abee5417516d3e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7491da1ffa6547be8805ec09f15cd1e0.setIcon(icon_810af7a215da437b8abee5417516d3e8);
        
    
        var popup_22f5280fe0b8470aa9c744e45ae36d3a = L.popup({"maxWidth": "100%"});

        
            var html_27e3986a7fa44fe897b77e46b939f913 = $(`<div id="html_27e3986a7fa44fe897b77e46b939f913" style="width: 100.0%; height: 100.0%;"> Najad 511 / 2004, location - Göteborg </div>`)[0];
            popup_22f5280fe0b8470aa9c744e45ae36d3a.setContent(html_27e3986a7fa44fe897b77e46b939f913);
        

        marker_7491da1ffa6547be8805ec09f15cd1e0.bindPopup(popup_22f5280fe0b8470aa9c744e45ae36d3a)
        ;

        
    
    
            var marker_4d8e653fcc4b441f8ef811ae0511e49b = L.marker(
                [57.664246291311315, 12.000606638283339],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_303775286f9b41dc995fbb0c775f4804 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_4d8e653fcc4b441f8ef811ae0511e49b.setIcon(icon_303775286f9b41dc995fbb0c775f4804);
        
    
        var popup_0fba64820d3f45c38b7642fd1ad52e99 = L.popup({"maxWidth": "100%"});

        
            var html_ba8e43d50d2446b3a25da03bac28f514 = $(`<div id="html_ba8e43d50d2446b3a25da03bac28f514" style="width: 100.0%; height: 100.0%;"> Najad 460 / 2003, location - Göteborg </div>`)[0];
            popup_0fba64820d3f45c38b7642fd1ad52e99.setContent(html_ba8e43d50d2446b3a25da03bac28f514);
        

        marker_4d8e653fcc4b441f8ef811ae0511e49b.bindPopup(popup_0fba64820d3f45c38b7642fd1ad52e99)
        ;

        
    
    
            var marker_74b90f6b76e24d43863e8bb4b98ae0c7 = L.marker(
                [57.74785771012384, 11.980854312293992],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_0bcd475befde4e108a1272ecee95f311 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_74b90f6b76e24d43863e8bb4b98ae0c7.setIcon(icon_0bcd475befde4e108a1272ecee95f311);
        
    
        var popup_b5ff325f3d904ed9b503706a0f15aa28 = L.popup({"maxWidth": "100%"});

        
            var html_dc73e3d93a8f4f15927a418e41e90b53 = $(`<div id="html_dc73e3d93a8f4f15927a418e41e90b53" style="width: 100.0%; height: 100.0%;"> Najad 391 / 1999, location - Göteborg </div>`)[0];
            popup_b5ff325f3d904ed9b503706a0f15aa28.setContent(html_dc73e3d93a8f4f15927a418e41e90b53);
        

        marker_74b90f6b76e24d43863e8bb4b98ae0c7.bindPopup(popup_b5ff325f3d904ed9b503706a0f15aa28)
        ;

        
    
    
            var marker_c48f19aee5834393bcff292d6adf75bb = L.marker(
                [59.31747330395599, 18.039943608211225],
                {"radius": 1}
            ).addTo(marker_cluster_7b2187aa80da4114ab4320dd673c3ce7);
        
    
            var icon_9f90a46b38ee44f9b840a07e17693197 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c48f19aee5834393bcff292d6adf75bb.setIcon(icon_9f90a46b38ee44f9b840a07e17693197);
        
    
        var popup_3ff160347a844eaa8ec2019af0f3c0c2 = L.popup({"maxWidth": "100%"});

        
            var html_ee9d1e4f3cf7468a981c405818517824 = $(`<div id="html_ee9d1e4f3cf7468a981c405818517824" style="width: 100.0%; height: 100.0%;"> Najad 332 - 2006 inkl. lån av båtplats, location - Stockholm </div>`)[0];
            popup_3ff160347a844eaa8ec2019af0f3c0c2.setContent(html_ee9d1e4f3cf7468a981c405818517824);
        

        marker_c48f19aee5834393bcff292d6adf75bb.bindPopup(popup_3ff160347a844eaa8ec2019af0f3c0c2)
        ;

        
    
</script>