<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9e967456ee1d495f92730648ae4bdc0f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_9e967456ee1d495f92730648ae4bdc0f" ></div>
        
</body>
<script>    
    
            var map_9e967456ee1d495f92730648ae4bdc0f = L.map(
                "map_9e967456ee1d495f92730648ae4bdc0f",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a0860abc88fa441c81fa1bcf3523b00f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9e967456ee1d495f92730648ae4bdc0f);
        
    
            var marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2 = L.markerClusterGroup(
                {}
            );
            map_9e967456ee1d495f92730648ae4bdc0f.addLayer(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var marker_2a53196f11a042089225deb1bcda90f8 = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_d68d1d3fb2c847ac8a6e45cb5f4a4631 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2a53196f11a042089225deb1bcda90f8.setIcon(icon_d68d1d3fb2c847ac8a6e45cb5f4a4631);
        
    
        var popup_64846adf579f455097f79732c56e8f59 = L.popup({"maxWidth": "100%"});

        
            var html_62dd37201e904c4aa02c73f50e46fbf5 = $(`<div id="html_62dd37201e904c4aa02c73f50e46fbf5" style="width: 100.0%; height: 100.0%;"> Najad 440 AC, location - Helsingborg </div>`)[0];
            popup_64846adf579f455097f79732c56e8f59.setContent(html_62dd37201e904c4aa02c73f50e46fbf5);
        

        marker_2a53196f11a042089225deb1bcda90f8.bindPopup(popup_64846adf579f455097f79732c56e8f59)
        ;

        
    
    
            var marker_be66915f28cf43989a46cc4028e624a7 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_17c8eec0a93544e6a749c0e09abc8178 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_be66915f28cf43989a46cc4028e624a7.setIcon(icon_17c8eec0a93544e6a749c0e09abc8178);
        
    
        var popup_a1081fa67dd94892b62c0b51ad05a70f = L.popup({"maxWidth": "100%"});

        
            var html_ba0acbfddf654d93a128ea7267c0f1a7 = $(`<div id="html_ba0acbfddf654d93a128ea7267c0f1a7" style="width: 100.0%; height: 100.0%;"> Nova 33 senast byggda, location - Göteborg </div>`)[0];
            popup_a1081fa67dd94892b62c0b51ad05a70f.setContent(html_ba0acbfddf654d93a128ea7267c0f1a7);
        

        marker_be66915f28cf43989a46cc4028e624a7.bindPopup(popup_a1081fa67dd94892b62c0b51ad05a70f)
        ;

        
    
    
            var marker_62764b7d606449f5ad2a5c658c5bac2b = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_e8d267a5ed0c4893b2cc57784051a2c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_62764b7d606449f5ad2a5c658c5bac2b.setIcon(icon_e8d267a5ed0c4893b2cc57784051a2c8);
        
    
        var popup_4255cb23e4e24a7482508be3693b53a8 = L.popup({"maxWidth": "100%"});

        
            var html_0e4ce74ff80b43dbac175a0d10b8b437 = $(`<div id="html_0e4ce74ff80b43dbac175a0d10b8b437" style="width: 100.0%; height: 100.0%;"> Najad 343 Dl #8 1981, location - Jönköping </div>`)[0];
            popup_4255cb23e4e24a7482508be3693b53a8.setContent(html_0e4ce74ff80b43dbac175a0d10b8b437);
        

        marker_62764b7d606449f5ad2a5c658c5bac2b.bindPopup(popup_4255cb23e4e24a7482508be3693b53a8)
        ;

        
    
    
            var marker_9c56b02499d349d3b39a9744f330568f = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_6cfdbd28d9154372ad646bd9eef6a2ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9c56b02499d349d3b39a9744f330568f.setIcon(icon_6cfdbd28d9154372ad646bd9eef6a2ed);
        
    
        var popup_ab3f8a3b435f411682b9cd1e4f1e4340 = L.popup({"maxWidth": "100%"});

        
            var html_e61731d302ad43178db93b9bc0a9bc20 = $(`<div id="html_e61731d302ad43178db93b9bc0a9bc20" style="width: 100.0%; height: 100.0%;"> Najad 34 S, location - Kalmar </div>`)[0];
            popup_ab3f8a3b435f411682b9cd1e4f1e4340.setContent(html_e61731d302ad43178db93b9bc0a9bc20);
        

        marker_9c56b02499d349d3b39a9744f330568f.bindPopup(popup_ab3f8a3b435f411682b9cd1e4f1e4340)
        ;

        
    
    
            var marker_146c07fa1c234e469ff6511fd68688c0 = L.marker(
                [57.66623442939245, 11.925072691146775],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_3a5491875b4a4b7ca90506f6fa7dd172 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_146c07fa1c234e469ff6511fd68688c0.setIcon(icon_3a5491875b4a4b7ca90506f6fa7dd172);
        
    
        var popup_b3e1dc5d43974602aa0f12f3275a085e = L.popup({"maxWidth": "100%"});

        
            var html_e0ecd192c5c443a0b2a8c608fa460414 = $(`<div id="html_e0ecd192c5c443a0b2a8c608fa460414" style="width: 100.0%; height: 100.0%;"> Najad 361, från 2001, location - Göteborg </div>`)[0];
            popup_b3e1dc5d43974602aa0f12f3275a085e.setContent(html_e0ecd192c5c443a0b2a8c608fa460414);
        

        marker_146c07fa1c234e469ff6511fd68688c0.bindPopup(popup_b3e1dc5d43974602aa0f12f3275a085e)
        ;

        
    
    
            var marker_386428e98f5b4986917604cad9456227 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_772167f697ca4b6d981be7f9c56b1d13 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_386428e98f5b4986917604cad9456227.setIcon(icon_772167f697ca4b6d981be7f9c56b1d13);
        
    
        var popup_67cbea0e5365401191acd0310791584f = L.popup({"maxWidth": "100%"});

        
            var html_25c8140164e24cdb99e0612c75b043d7 = $(`<div id="html_25c8140164e24cdb99e0612c75b043d7" style="width: 100.0%; height: 100.0%;"> Najad 332, location - Stockholm </div>`)[0];
            popup_67cbea0e5365401191acd0310791584f.setContent(html_25c8140164e24cdb99e0612c75b043d7);
        

        marker_386428e98f5b4986917604cad9456227.bindPopup(popup_67cbea0e5365401191acd0310791584f)
        ;

        
    
    
            var marker_df73f31f3fb946db8ec2b169bc01745c = L.marker(
                [59.357085745644426, 18.08044693184672],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_88d07572d019446bac24a0feba8b1baf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_df73f31f3fb946db8ec2b169bc01745c.setIcon(icon_88d07572d019446bac24a0feba8b1baf);
        
    
        var popup_25b962f078f744ab98d17a584912100d = L.popup({"maxWidth": "100%"});

        
            var html_2c7b294cff244540872f64b6f212ec05 = $(`<div id="html_2c7b294cff244540872f64b6f212ec05" style="width: 100.0%; height: 100.0%;"> Najad 395 AC, location - Stockholm </div>`)[0];
            popup_25b962f078f744ab98d17a584912100d.setContent(html_2c7b294cff244540872f64b6f212ec05);
        

        marker_df73f31f3fb946db8ec2b169bc01745c.bindPopup(popup_25b962f078f744ab98d17a584912100d)
        ;

        
    
    
            var marker_3b65a803bd4643eea827f3306970d1e5 = L.marker(
                [57.73957838416743, 11.953472424955109],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_9554328dc1ff4b71bc84dbcc46050d65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_3b65a803bd4643eea827f3306970d1e5.setIcon(icon_9554328dc1ff4b71bc84dbcc46050d65);
        
    
        var popup_68b247f1b5564a439798f3c92711810b = L.popup({"maxWidth": "100%"});

        
            var html_805f5f60dd0a47e6a2eb0e3c472ffa37 = $(`<div id="html_805f5f60dd0a47e6a2eb0e3c472ffa37" style="width: 100.0%; height: 100.0%;"> Najad 440 / 2011, location - Göteborg </div>`)[0];
            popup_68b247f1b5564a439798f3c92711810b.setContent(html_805f5f60dd0a47e6a2eb0e3c472ffa37);
        

        marker_3b65a803bd4643eea827f3306970d1e5.bindPopup(popup_68b247f1b5564a439798f3c92711810b)
        ;

        
    
    
            var marker_938db4968a084e8796acf76ab2fa8549 = L.marker(
                [57.691102642957205, 11.924170088349687],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_eaa5c98c12ed4dfcab3eaebef919b3c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_938db4968a084e8796acf76ab2fa8549.setIcon(icon_eaa5c98c12ed4dfcab3eaebef919b3c0);
        
    
        var popup_3f2c38fcb04b4d58b7db3e3f214dd91c = L.popup({"maxWidth": "100%"});

        
            var html_3c3f00b404494c159951185b74800dec = $(`<div id="html_3c3f00b404494c159951185b74800dec" style="width: 100.0%; height: 100.0%;"> Najad 505 / 2008, location - Göteborg </div>`)[0];
            popup_3f2c38fcb04b4d58b7db3e3f214dd91c.setContent(html_3c3f00b404494c159951185b74800dec);
        

        marker_938db4968a084e8796acf76ab2fa8549.bindPopup(popup_3f2c38fcb04b4d58b7db3e3f214dd91c)
        ;

        
    
    
            var marker_10618a1110354a739a615fbb7777d414 = L.marker(
                [60.3133279, 15.3716761],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_cbb75e2688de4cb3834e79e475daea5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_10618a1110354a739a615fbb7777d414.setIcon(icon_cbb75e2688de4cb3834e79e475daea5d);
        
    
        var popup_add3b603f779413eb2583d5cb6a77c5d = L.popup({"maxWidth": "100%"});

        
            var html_7f40b3d6a07e4987872a7ba78c00acbd = $(`<div id="html_7f40b3d6a07e4987872a7ba78c00acbd" style="width: 100.0%; height: 100.0%;"> Maxi 95, -78, nr. 809, fint skick, location - Skaraborg </div>`)[0];
            popup_add3b603f779413eb2583d5cb6a77c5d.setContent(html_7f40b3d6a07e4987872a7ba78c00acbd);
        

        marker_10618a1110354a739a615fbb7777d414.bindPopup(popup_add3b603f779413eb2583d5cb6a77c5d)
        ;

        
    
    
            var marker_7be2b2f4064f4ac496be53ebd23818d1 = L.marker(
                [59.368549638516086, 18.061437142843168],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_701593fa279944d18491a888daaaa069 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7be2b2f4064f4ac496be53ebd23818d1.setIcon(icon_701593fa279944d18491a888daaaa069);
        
    
        var popup_97bdd2c3680e4289a93cb65076d9898a = L.popup({"maxWidth": "100%"});

        
            var html_58a6fd0da46a4af5af3e9a4416a077eb = $(`<div id="html_58a6fd0da46a4af5af3e9a4416a077eb" style="width: 100.0%; height: 100.0%;"> Najad 343, location - Stockholm </div>`)[0];
            popup_97bdd2c3680e4289a93cb65076d9898a.setContent(html_58a6fd0da46a4af5af3e9a4416a077eb);
        

        marker_7be2b2f4064f4ac496be53ebd23818d1.bindPopup(popup_97bdd2c3680e4289a93cb65076d9898a)
        ;

        
    
    
            var marker_9db13133c29f498baa91f8620dac8f71 = L.marker(
                [59.340544773786455, 18.07693100066],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_1f9a3d84cb53424ca660ba20f12f728b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9db13133c29f498baa91f8620dac8f71.setIcon(icon_1f9a3d84cb53424ca660ba20f12f728b);
        
    
        var popup_913a6eb58539440bb5b73df572b62fe0 = L.popup({"maxWidth": "100%"});

        
            var html_ca4772e10cce4f4c8156ee24b6a15f2d = $(`<div id="html_ca4772e10cce4f4c8156ee24b6a15f2d" style="width: 100.0%; height: 100.0%;"> Beneteau 42 cc Clipper -04, location - Stockholm </div>`)[0];
            popup_913a6eb58539440bb5b73df572b62fe0.setContent(html_ca4772e10cce4f4c8156ee24b6a15f2d);
        

        marker_9db13133c29f498baa91f8620dac8f71.bindPopup(popup_913a6eb58539440bb5b73df572b62fe0)
        ;

        
    
    
            var marker_648968e8af3c401eb3a9426092b014cc = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_ca901e5f073344febe63bf2d673a62b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_648968e8af3c401eb3a9426092b014cc.setIcon(icon_ca901e5f073344febe63bf2d673a62b8);
        
    
        var popup_3e57ed008dfc41ad89eab0fc4f7d449c = L.popup({"maxWidth": "100%"});

        
            var html_80f6039a70e244b7a5ea1313af3a98f4 = $(`<div id="html_80f6039a70e244b7a5ea1313af3a98f4" style="width: 100.0%; height: 100.0%;"> Segelbåt Granada 27+Vagn+Utombordare, location - Halland </div>`)[0];
            popup_3e57ed008dfc41ad89eab0fc4f7d449c.setContent(html_80f6039a70e244b7a5ea1313af3a98f4);
        

        marker_648968e8af3c401eb3a9426092b014cc.bindPopup(popup_3e57ed008dfc41ad89eab0fc4f7d449c)
        ;

        
    
    
            var marker_2f8ec54c04fd49e58b52d92e20b9987f = L.marker(
                [59.29003719791168, 18.02369141545498],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_8b8858e27c5a4469a56c585f66d4cf57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2f8ec54c04fd49e58b52d92e20b9987f.setIcon(icon_8b8858e27c5a4469a56c585f66d4cf57);
        
    
        var popup_073b7682c3ee45589f23b625dff2f595 = L.popup({"maxWidth": "100%"});

        
            var html_f00e0c5f646d4e1c952011a915acf77c = $(`<div id="html_f00e0c5f646d4e1c952011a915acf77c" style="width: 100.0%; height: 100.0%;"> Najad 373/2000, location - Stockholm </div>`)[0];
            popup_073b7682c3ee45589f23b625dff2f595.setContent(html_f00e0c5f646d4e1c952011a915acf77c);
        

        marker_2f8ec54c04fd49e58b52d92e20b9987f.bindPopup(popup_073b7682c3ee45589f23b625dff2f595)
        ;

        
    
    
            var marker_165081a8ca814322960dafbddb8df870 = L.marker(
                [56.03213203458508, 12.671636298056605],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_c3e0e8b4f4bc46a1998491c0a76ff817 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_165081a8ca814322960dafbddb8df870.setIcon(icon_c3e0e8b4f4bc46a1998491c0a76ff817);
        
    
        var popup_918af7935cc042e780605c6319cc499b = L.popup({"maxWidth": "100%"});

        
            var html_00f3c9ca000a40f88d48ddd6be974df0 = $(`<div id="html_00f3c9ca000a40f88d48ddd6be974df0" style="width: 100.0%; height: 100.0%;"> Najad 460 2004, location - Helsingborg </div>`)[0];
            popup_918af7935cc042e780605c6319cc499b.setContent(html_00f3c9ca000a40f88d48ddd6be974df0);
        

        marker_165081a8ca814322960dafbddb8df870.bindPopup(popup_918af7935cc042e780605c6319cc499b)
        ;

        
    
    
            var marker_83ec406adf274fb9ba46629810f52339 = L.marker(
                [59.33284146703486, 18.043120157056045],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_f70769a850014d319be2f0a614262dbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_83ec406adf274fb9ba46629810f52339.setIcon(icon_f70769a850014d319be2f0a614262dbd);
        
    
        var popup_e4bd17bfc96646cda12ab66a42182c8e = L.popup({"maxWidth": "100%"});

        
            var html_439ab00a91944405977b7409f4dc051c = $(`<div id="html_439ab00a91944405977b7409f4dc051c" style="width: 100.0%; height: 100.0%;"> Najad 34, välutrustad, ny motor, location - Stockholm </div>`)[0];
            popup_e4bd17bfc96646cda12ab66a42182c8e.setContent(html_439ab00a91944405977b7409f4dc051c);
        

        marker_83ec406adf274fb9ba46629810f52339.bindPopup(popup_e4bd17bfc96646cda12ab66a42182c8e)
        ;

        
    
    
            var marker_88798125bf68422683919fd30a95cac0 = L.marker(
                [56.663807171515685, 16.40698470808246],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_0db7451c11bc456196f184bb868026c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_88798125bf68422683919fd30a95cac0.setIcon(icon_0db7451c11bc456196f184bb868026c2);
        
    
        var popup_4ddfa4c6510149a5a04ed4c9d2ff27c1 = L.popup({"maxWidth": "100%"});

        
            var html_e0d9e1aa6d3c4c37b7c3fe97936702cb = $(`<div id="html_e0d9e1aa6d3c4c37b7c3fe97936702cb" style="width: 100.0%; height: 100.0%;"> Runn 37 - Långfärdsutrustad, location - Kalmar </div>`)[0];
            popup_4ddfa4c6510149a5a04ed4c9d2ff27c1.setContent(html_e0d9e1aa6d3c4c37b7c3fe97936702cb);
        

        marker_88798125bf68422683919fd30a95cac0.bindPopup(popup_4ddfa4c6510149a5a04ed4c9d2ff27c1)
        ;

        
    
    
            var marker_1a14f5bd18034436adfb0b0edd16b19c = L.marker(
                [57.69198165608432, 11.981242100236155],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_0b956459a89c461583e131d10bf377fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1a14f5bd18034436adfb0b0edd16b19c.setIcon(icon_0b956459a89c461583e131d10bf377fd);
        
    
        var popup_8f0a725bcecd4c4eb6c7bbd9cbc2d6f1 = L.popup({"maxWidth": "100%"});

        
            var html_4c80c317847340fd97fb0e51ad016e2f = $(`<div id="html_4c80c317847340fd97fb0e51ad016e2f" style="width: 100.0%; height: 100.0%;"> Najad 330 1994, location - Göteborg </div>`)[0];
            popup_8f0a725bcecd4c4eb6c7bbd9cbc2d6f1.setContent(html_4c80c317847340fd97fb0e51ad016e2f);
        

        marker_1a14f5bd18034436adfb0b0edd16b19c.bindPopup(popup_8f0a725bcecd4c4eb6c7bbd9cbc2d6f1)
        ;

        
    
    
            var marker_f7243f5c0d3d44839e19fcdbf3f3277d = L.marker(
                [57.69799658782732, 11.998038640143124],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_956e668b4dab4fb88e9911eb2e0af692 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_f7243f5c0d3d44839e19fcdbf3f3277d.setIcon(icon_956e668b4dab4fb88e9911eb2e0af692);
        
    
        var popup_cc999c7415404b4288c97da4dd3eea96 = L.popup({"maxWidth": "100%"});

        
            var html_aa3b5e46a8f346b3a41015a60b530ae5 = $(`<div id="html_aa3b5e46a8f346b3a41015a60b530ae5" style="width: 100.0%; height: 100.0%;"> Najad 34, location - Göteborg </div>`)[0];
            popup_cc999c7415404b4288c97da4dd3eea96.setContent(html_aa3b5e46a8f346b3a41015a60b530ae5);
        

        marker_f7243f5c0d3d44839e19fcdbf3f3277d.bindPopup(popup_cc999c7415404b4288c97da4dd3eea96)
        ;

        
    
    
            var marker_5dcbd03d95c54c8680931a7241323e39 = L.marker(
                [57.68657483940016, 11.964026404796348],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_eceeffcfffcf4a13896957248cb159b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5dcbd03d95c54c8680931a7241323e39.setIcon(icon_eceeffcfffcf4a13896957248cb159b6);
        
    
        var popup_88d0c4e13b1844239a092fd419b207b1 = L.popup({"maxWidth": "100%"});

        
            var html_d4d16576d18d40e9beb064f69edac7f4 = $(`<div id="html_d4d16576d18d40e9beb064f69edac7f4" style="width: 100.0%; height: 100.0%;"> Najad 440 AC / 2007, location - Göteborg </div>`)[0];
            popup_88d0c4e13b1844239a092fd419b207b1.setContent(html_d4d16576d18d40e9beb064f69edac7f4);
        

        marker_5dcbd03d95c54c8680931a7241323e39.bindPopup(popup_88d0c4e13b1844239a092fd419b207b1)
        ;

        
    
    
            var marker_2605713d98fa496c8014d7fbe418af78 = L.marker(
                [57.73682451349806, 12.016723665939592],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_70a69f9b76f342659ddab220e21a1255 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2605713d98fa496c8014d7fbe418af78.setIcon(icon_70a69f9b76f342659ddab220e21a1255);
        
    
        var popup_12220c916f2140229f1f6af2fb75b9f3 = L.popup({"maxWidth": "100%"});

        
            var html_4e7a178b03ac4b6299dfdfdfb9b499ac = $(`<div id="html_4e7a178b03ac4b6299dfdfdfb9b499ac" style="width: 100.0%; height: 100.0%;"> Najad 511 / 2004, location - Göteborg </div>`)[0];
            popup_12220c916f2140229f1f6af2fb75b9f3.setContent(html_4e7a178b03ac4b6299dfdfdfb9b499ac);
        

        marker_2605713d98fa496c8014d7fbe418af78.bindPopup(popup_12220c916f2140229f1f6af2fb75b9f3)
        ;

        
    
    
            var marker_5ddb568dcd494ab7bd9cce5536fd6202 = L.marker(
                [57.743511050586974, 11.937500203222376],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_5bebf487f7da4f54b9d82a0b5765248b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5ddb568dcd494ab7bd9cce5536fd6202.setIcon(icon_5bebf487f7da4f54b9d82a0b5765248b);
        
    
        var popup_7c81a1256c924ffa9b52675a27302295 = L.popup({"maxWidth": "100%"});

        
            var html_b8c66028731748aaa02fc2582034f9cb = $(`<div id="html_b8c66028731748aaa02fc2582034f9cb" style="width: 100.0%; height: 100.0%;"> Najad 460 / 2003, location - Göteborg </div>`)[0];
            popup_7c81a1256c924ffa9b52675a27302295.setContent(html_b8c66028731748aaa02fc2582034f9cb);
        

        marker_5ddb568dcd494ab7bd9cce5536fd6202.bindPopup(popup_7c81a1256c924ffa9b52675a27302295)
        ;

        
    
    
            var marker_b8ea0e925b2841bb89c5a9e41daf9d09 = L.marker(
                [57.729039477444346, 11.991007068370298],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_f2850f3cbfc3463da968a434ff3964bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b8ea0e925b2841bb89c5a9e41daf9d09.setIcon(icon_f2850f3cbfc3463da968a434ff3964bc);
        
    
        var popup_e9d3630254be40bab8eca24e32a5e099 = L.popup({"maxWidth": "100%"});

        
            var html_11816e78aa9546b49476c560362c0881 = $(`<div id="html_11816e78aa9546b49476c560362c0881" style="width: 100.0%; height: 100.0%;"> Najad 391 / 1999, location - Göteborg </div>`)[0];
            popup_e9d3630254be40bab8eca24e32a5e099.setContent(html_11816e78aa9546b49476c560362c0881);
        

        marker_b8ea0e925b2841bb89c5a9e41daf9d09.bindPopup(popup_e9d3630254be40bab8eca24e32a5e099)
        ;

        
    
    
            var marker_953ab3803111405dbc9005232fd10dca = L.marker(
                [59.28750450998873, 18.037421501397628],
                {"radius": 1}
            ).addTo(marker_cluster_5c60ed37e5ce47f2866dbdbf1bfdd4f2);
        
    
            var icon_3d8c4d639e98433fbf9203f786f4712b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_953ab3803111405dbc9005232fd10dca.setIcon(icon_3d8c4d639e98433fbf9203f786f4712b);
        
    
        var popup_c309380a0f3f4003aa2b4975ae2bea58 = L.popup({"maxWidth": "100%"});

        
            var html_badbb94b30f94bdabafa96b10137c837 = $(`<div id="html_badbb94b30f94bdabafa96b10137c837" style="width: 100.0%; height: 100.0%;"> Najad 332 - 2006 inkl. lån av båtplats, location - Stockholm </div>`)[0];
            popup_c309380a0f3f4003aa2b4975ae2bea58.setContent(html_badbb94b30f94bdabafa96b10137c837);
        

        marker_953ab3803111405dbc9005232fd10dca.bindPopup(popup_c309380a0f3f4003aa2b4975ae2bea58)
        ;

        
    
</script>