<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aa47b0a24743410a99d0426b4540c1bf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_aa47b0a24743410a99d0426b4540c1bf" ></div>
        
</body>
<script>    
    
            var map_aa47b0a24743410a99d0426b4540c1bf = L.map(
                "map_aa47b0a24743410a99d0426b4540c1bf",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3d5e9caa32c54851a36c7053a76af9c0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_aa47b0a24743410a99d0426b4540c1bf);
        
    
            var marker_cluster_1d09b5b1a8ba49daa569354e79410372 = L.markerClusterGroup(
                {}
            );
            map_aa47b0a24743410a99d0426b4540c1bf.addLayer(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var marker_ebdfaa1875784dafb64cc5f05c439ac7 = L.marker(
                [65.9468826, 20.0542807],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_e1aa5d0ae15246d6afd7b08e27773ab4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ebdfaa1875784dafb64cc5f05c439ac7.setIcon(icon_e1aa5d0ae15246d6afd7b08e27773ab4);
        
    
        var popup_7a4af571de444f0bb3adb91cc50a9621 = L.popup({"maxWidth": "100%"});

        
            var html_f6f5e834b7394d93bcf469922d1d4980 = $(`<div id="html_f6f5e834b7394d93bcf469922d1d4980" style="width: 100.0%; height: 100.0%;">Najad 320 Nr 48</div>`)[0];
            popup_7a4af571de444f0bb3adb91cc50a9621.setContent(html_f6f5e834b7394d93bcf469922d1d4980);
        

        marker_ebdfaa1875784dafb64cc5f05c439ac7.bindPopup(popup_7a4af571de444f0bb3adb91cc50a9621)
        ;

        
    
    
            var marker_9e82232aa2c6413a92ea9155fde7b6de = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_3bfa9b2c551a4053893b7903e60a5a67 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9e82232aa2c6413a92ea9155fde7b6de.setIcon(icon_3bfa9b2c551a4053893b7903e60a5a67);
        
    
        var popup_40425a68aee1482980ca3e45a1401297 = L.popup({"maxWidth": "100%"});

        
            var html_932860240d2f4c00b016b4ef9642113a = $(`<div id="html_932860240d2f4c00b016b4ef9642113a" style="width: 100.0%; height: 100.0%;">Najad 332</div>`)[0];
            popup_40425a68aee1482980ca3e45a1401297.setContent(html_932860240d2f4c00b016b4ef9642113a);
        

        marker_9e82232aa2c6413a92ea9155fde7b6de.bindPopup(popup_40425a68aee1482980ca3e45a1401297)
        ;

        
    
    
            var marker_bdf9a201b953464f87aacbabcd529a56 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_b413409bb7ac49f4ba125d0c4cccd79d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_bdf9a201b953464f87aacbabcd529a56.setIcon(icon_b413409bb7ac49f4ba125d0c4cccd79d);
        
    
        var popup_87f8642911bf47e7b4fe90b51c7d1f12 = L.popup({"maxWidth": "100%"});

        
            var html_9695a59d45cb418fade95316b81f16b8 = $(`<div id="html_9695a59d45cb418fade95316b81f16b8" style="width: 100.0%; height: 100.0%;">Najad 395 AC</div>`)[0];
            popup_87f8642911bf47e7b4fe90b51c7d1f12.setContent(html_9695a59d45cb418fade95316b81f16b8);
        

        marker_bdf9a201b953464f87aacbabcd529a56.bindPopup(popup_87f8642911bf47e7b4fe90b51c7d1f12)
        ;

        
    
    
            var marker_19659d68ebd64bfb982ea89e8053f8a8 = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_8b736f659854467c8c21c66261900dd1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_19659d68ebd64bfb982ea89e8053f8a8.setIcon(icon_8b736f659854467c8c21c66261900dd1);
        
    
        var popup_3b514817f51141afa860625c954197cc = L.popup({"maxWidth": "100%"});

        
            var html_69a72bb6604b4a92a00f6c72fd5a4cbd = $(`<div id="html_69a72bb6604b4a92a00f6c72fd5a4cbd" style="width: 100.0%; height: 100.0%;">Najad 343 Dl #8 1981</div>`)[0];
            popup_3b514817f51141afa860625c954197cc.setContent(html_69a72bb6604b4a92a00f6c72fd5a4cbd);
        

        marker_19659d68ebd64bfb982ea89e8053f8a8.bindPopup(popup_3b514817f51141afa860625c954197cc)
        ;

        
    
    
            var marker_eb9a75666fbb4631a58c6ceb5d6ea5af = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_0e6d76ab84c74008bdf992ea35ec56b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_eb9a75666fbb4631a58c6ceb5d6ea5af.setIcon(icon_0e6d76ab84c74008bdf992ea35ec56b7);
        
    
        var popup_fe5b4d9dc05e47af8e6bbfd0a719d3f0 = L.popup({"maxWidth": "100%"});

        
            var html_26dcf201587b4d78b1b1caa79e97de74 = $(`<div id="html_26dcf201587b4d78b1b1caa79e97de74" style="width: 100.0%; height: 100.0%;">Najad 361, från 2001</div>`)[0];
            popup_fe5b4d9dc05e47af8e6bbfd0a719d3f0.setContent(html_26dcf201587b4d78b1b1caa79e97de74);
        

        marker_eb9a75666fbb4631a58c6ceb5d6ea5af.bindPopup(popup_fe5b4d9dc05e47af8e6bbfd0a719d3f0)
        ;

        
    
    
            var marker_fd3b787db721492da7ef06458d7b0abf = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_96d1849e21ae439d9483b04958ad9e56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_fd3b787db721492da7ef06458d7b0abf.setIcon(icon_96d1849e21ae439d9483b04958ad9e56);
        
    
        var popup_7bd081bf11b64783a7940aded1635d57 = L.popup({"maxWidth": "100%"});

        
            var html_a5f8f3164cfb4effb9dfc34f3d1dae08 = $(`<div id="html_a5f8f3164cfb4effb9dfc34f3d1dae08" style="width: 100.0%; height: 100.0%;">Najad 440 / 2011</div>`)[0];
            popup_7bd081bf11b64783a7940aded1635d57.setContent(html_a5f8f3164cfb4effb9dfc34f3d1dae08);
        

        marker_fd3b787db721492da7ef06458d7b0abf.bindPopup(popup_7bd081bf11b64783a7940aded1635d57)
        ;

        
    
    
            var marker_d050cf6ba65e4958921d870b4d04ca12 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_ce1a880a16cc41d7bebfed15eb1900f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d050cf6ba65e4958921d870b4d04ca12.setIcon(icon_ce1a880a16cc41d7bebfed15eb1900f4);
        
    
        var popup_568718776a4c4c239d4b97e5ba165985 = L.popup({"maxWidth": "100%"});

        
            var html_2ab8cad6ff414bce8dca45782f5dc302 = $(`<div id="html_2ab8cad6ff414bce8dca45782f5dc302" style="width: 100.0%; height: 100.0%;">Najad 505 / 2008</div>`)[0];
            popup_568718776a4c4c239d4b97e5ba165985.setContent(html_2ab8cad6ff414bce8dca45782f5dc302);
        

        marker_d050cf6ba65e4958921d870b4d04ca12.bindPopup(popup_568718776a4c4c239d4b97e5ba165985)
        ;

        
    
    
            var marker_02bdc810ec3548adbd0d7ddc51075186 = L.marker(
                [60.3133279, 15.3716761],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_62eb97d523a643bdaae1e0e70df2051e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_02bdc810ec3548adbd0d7ddc51075186.setIcon(icon_62eb97d523a643bdaae1e0e70df2051e);
        
    
        var popup_32606ea618c84dbbab6b44c004e7554c = L.popup({"maxWidth": "100%"});

        
            var html_fb54fe9f1abf410191b09e22d29ca792 = $(`<div id="html_fb54fe9f1abf410191b09e22d29ca792" style="width: 100.0%; height: 100.0%;">Maxi 95, -78, nr. 809, fint skick</div>`)[0];
            popup_32606ea618c84dbbab6b44c004e7554c.setContent(html_fb54fe9f1abf410191b09e22d29ca792);
        

        marker_02bdc810ec3548adbd0d7ddc51075186.bindPopup(popup_32606ea618c84dbbab6b44c004e7554c)
        ;

        
    
    
            var marker_778512bab3b34a5582d4771eccfa145f = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_bec36ffd64714ba09b04f227df09f829 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_778512bab3b34a5582d4771eccfa145f.setIcon(icon_bec36ffd64714ba09b04f227df09f829);
        
    
        var popup_0b534afbc18f4a91bcbe08f8d4582c80 = L.popup({"maxWidth": "100%"});

        
            var html_8bc7e12f260e427ca2533279d6dcb39a = $(`<div id="html_8bc7e12f260e427ca2533279d6dcb39a" style="width: 100.0%; height: 100.0%;">Najad 343</div>`)[0];
            popup_0b534afbc18f4a91bcbe08f8d4582c80.setContent(html_8bc7e12f260e427ca2533279d6dcb39a);
        

        marker_778512bab3b34a5582d4771eccfa145f.bindPopup(popup_0b534afbc18f4a91bcbe08f8d4582c80)
        ;

        
    
    
            var marker_0c5292e02ea1434e82f11d16254c9b90 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_2e79d326ed2741f08a2d1646269b9d10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_0c5292e02ea1434e82f11d16254c9b90.setIcon(icon_2e79d326ed2741f08a2d1646269b9d10);
        
    
        var popup_4ee9f85781e047a7a465469f11918622 = L.popup({"maxWidth": "100%"});

        
            var html_4e0f24eee40f4b66a0f78bb1ce66d2be = $(`<div id="html_4e0f24eee40f4b66a0f78bb1ce66d2be" style="width: 100.0%; height: 100.0%;">Beneteau 42 cc Clipper -04</div>`)[0];
            popup_4ee9f85781e047a7a465469f11918622.setContent(html_4e0f24eee40f4b66a0f78bb1ce66d2be);
        

        marker_0c5292e02ea1434e82f11d16254c9b90.bindPopup(popup_4ee9f85781e047a7a465469f11918622)
        ;

        
    
    
            var marker_c1d3782bdf0a41b49303d3967ef65b15 = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_0de3a8bd8dc740f391dd1af92c5e72e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c1d3782bdf0a41b49303d3967ef65b15.setIcon(icon_0de3a8bd8dc740f391dd1af92c5e72e5);
        
    
        var popup_b2d31e68d76d41c3bf110e017d468f4a = L.popup({"maxWidth": "100%"});

        
            var html_1c314b608d214f2ebf35a4591c428a4e = $(`<div id="html_1c314b608d214f2ebf35a4591c428a4e" style="width: 100.0%; height: 100.0%;">Segelbåt Granada 27+Vagn+Utombordare</div>`)[0];
            popup_b2d31e68d76d41c3bf110e017d468f4a.setContent(html_1c314b608d214f2ebf35a4591c428a4e);
        

        marker_c1d3782bdf0a41b49303d3967ef65b15.bindPopup(popup_b2d31e68d76d41c3bf110e017d468f4a)
        ;

        
    
    
            var marker_999d79457f7c436885c67fcd9625a5a1 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_35d71ccd29624d9383f11b4fdbc73013 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_999d79457f7c436885c67fcd9625a5a1.setIcon(icon_35d71ccd29624d9383f11b4fdbc73013);
        
    
        var popup_2314a7a7947f4031b27e007d49054379 = L.popup({"maxWidth": "100%"});

        
            var html_0a1eccf52cff46c8ae2367d5163db886 = $(`<div id="html_0a1eccf52cff46c8ae2367d5163db886" style="width: 100.0%; height: 100.0%;">Najad 373/2000</div>`)[0];
            popup_2314a7a7947f4031b27e007d49054379.setContent(html_0a1eccf52cff46c8ae2367d5163db886);
        

        marker_999d79457f7c436885c67fcd9625a5a1.bindPopup(popup_2314a7a7947f4031b27e007d49054379)
        ;

        
    
    
            var marker_cefdae9d43e34ad49a6fde7650f2be84 = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_edfb2a30d4ef43ef84a41ab07cf295ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_cefdae9d43e34ad49a6fde7650f2be84.setIcon(icon_edfb2a30d4ef43ef84a41ab07cf295ec);
        
    
        var popup_f3cb1bf6c95d4f5f9714e9f68454d6b5 = L.popup({"maxWidth": "100%"});

        
            var html_2fb6ab05aae54412b3ac0ade4b024437 = $(`<div id="html_2fb6ab05aae54412b3ac0ade4b024437" style="width: 100.0%; height: 100.0%;">Najad 460 2004</div>`)[0];
            popup_f3cb1bf6c95d4f5f9714e9f68454d6b5.setContent(html_2fb6ab05aae54412b3ac0ade4b024437);
        

        marker_cefdae9d43e34ad49a6fde7650f2be84.bindPopup(popup_f3cb1bf6c95d4f5f9714e9f68454d6b5)
        ;

        
    
    
            var marker_85c4a8788997413d85766a87e83a61f1 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_ecbb7b8651064635810d0ae5dc645c3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_85c4a8788997413d85766a87e83a61f1.setIcon(icon_ecbb7b8651064635810d0ae5dc645c3c);
        
    
        var popup_cfb35449cd284d2fb8d184aa4770cca9 = L.popup({"maxWidth": "100%"});

        
            var html_af8775c496e94ede93914e801964cbfc = $(`<div id="html_af8775c496e94ede93914e801964cbfc" style="width: 100.0%; height: 100.0%;">Najad 34, välutrustad, ny motor</div>`)[0];
            popup_cfb35449cd284d2fb8d184aa4770cca9.setContent(html_af8775c496e94ede93914e801964cbfc);
        

        marker_85c4a8788997413d85766a87e83a61f1.bindPopup(popup_cfb35449cd284d2fb8d184aa4770cca9)
        ;

        
    
    
            var marker_8bf090ac3d1b40ef8e2a5d49eb334911 = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_56436d89d9e44182b53748c715f66bbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_8bf090ac3d1b40ef8e2a5d49eb334911.setIcon(icon_56436d89d9e44182b53748c715f66bbc);
        
    
        var popup_3d0d24c796644df0942f2277dacfb56c = L.popup({"maxWidth": "100%"});

        
            var html_968a25274fd144e7bcc9949c59bd1783 = $(`<div id="html_968a25274fd144e7bcc9949c59bd1783" style="width: 100.0%; height: 100.0%;">Runn 37 - Långfärdsutrustad</div>`)[0];
            popup_3d0d24c796644df0942f2277dacfb56c.setContent(html_968a25274fd144e7bcc9949c59bd1783);
        

        marker_8bf090ac3d1b40ef8e2a5d49eb334911.bindPopup(popup_3d0d24c796644df0942f2277dacfb56c)
        ;

        
    
    
            var marker_e300b8ea20bf4f509457a0ec3db86ddf = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_2c3a40ebbb4645c5ae093cd72ff78c37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_e300b8ea20bf4f509457a0ec3db86ddf.setIcon(icon_2c3a40ebbb4645c5ae093cd72ff78c37);
        
    
        var popup_a34b6485380940e0a7f01a26051704cf = L.popup({"maxWidth": "100%"});

        
            var html_9e4b244f81ec49bcbe713fcff0364be8 = $(`<div id="html_9e4b244f81ec49bcbe713fcff0364be8" style="width: 100.0%; height: 100.0%;">Najad 330 1994</div>`)[0];
            popup_a34b6485380940e0a7f01a26051704cf.setContent(html_9e4b244f81ec49bcbe713fcff0364be8);
        

        marker_e300b8ea20bf4f509457a0ec3db86ddf.bindPopup(popup_a34b6485380940e0a7f01a26051704cf)
        ;

        
    
    
            var marker_b8e2d5f0564e4e4aa072a9827f417c42 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_8a78349047f94d5d96c3ef0764fa3232 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b8e2d5f0564e4e4aa072a9827f417c42.setIcon(icon_8a78349047f94d5d96c3ef0764fa3232);
        
    
        var popup_c377583e7caf4387b272350e74998eae = L.popup({"maxWidth": "100%"});

        
            var html_f1f90e9848584d1c940225757fd4648c = $(`<div id="html_f1f90e9848584d1c940225757fd4648c" style="width: 100.0%; height: 100.0%;">Najad 34</div>`)[0];
            popup_c377583e7caf4387b272350e74998eae.setContent(html_f1f90e9848584d1c940225757fd4648c);
        

        marker_b8e2d5f0564e4e4aa072a9827f417c42.bindPopup(popup_c377583e7caf4387b272350e74998eae)
        ;

        
    
    
            var marker_cd8ce22b9fcf4d39862c80db96baa6ef = L.marker(
                [58.32731925, 16.0256670264938],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_4b23e037523a4be89a41f66bcbe0773e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_cd8ce22b9fcf4d39862c80db96baa6ef.setIcon(icon_4b23e037523a4be89a41f66bcbe0773e);
        
    
        var popup_fb95a8db823e4ec2abe3dbbbfc14b87f = L.popup({"maxWidth": "100%"});

        
            var html_67056e53e4b24569b1aefd9a07203968 = $(`<div id="html_67056e53e4b24569b1aefd9a07203968" style="width: 100.0%; height: 100.0%;">Najad 343 1982 årsmodell</div>`)[0];
            popup_fb95a8db823e4ec2abe3dbbbfc14b87f.setContent(html_67056e53e4b24569b1aefd9a07203968);
        

        marker_cd8ce22b9fcf4d39862c80db96baa6ef.bindPopup(popup_fb95a8db823e4ec2abe3dbbbfc14b87f)
        ;

        
    
    
            var marker_ad5294db639642d2982cbaa2ce496d4b = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_8e89465cd7e94f7bb81176c95365d0b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ad5294db639642d2982cbaa2ce496d4b.setIcon(icon_8e89465cd7e94f7bb81176c95365d0b2);
        
    
        var popup_77c6402de9424077afeaa547198d34c8 = L.popup({"maxWidth": "100%"});

        
            var html_1f94437a3edb46eab6a91e4b9c1a631a = $(`<div id="html_1f94437a3edb46eab6a91e4b9c1a631a" style="width: 100.0%; height: 100.0%;">Najad 440 AC / 2007</div>`)[0];
            popup_77c6402de9424077afeaa547198d34c8.setContent(html_1f94437a3edb46eab6a91e4b9c1a631a);
        

        marker_ad5294db639642d2982cbaa2ce496d4b.bindPopup(popup_77c6402de9424077afeaa547198d34c8)
        ;

        
    
    
            var marker_09b7a646e6bb4ac4a67cf376d6edca36 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_857b4654732d42ad8fb1967e038fba7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_09b7a646e6bb4ac4a67cf376d6edca36.setIcon(icon_857b4654732d42ad8fb1967e038fba7e);
        
    
        var popup_bdb3ea246fbb4029a429d7b6137711a9 = L.popup({"maxWidth": "100%"});

        
            var html_05ea271a74f84e6788bda860ff08fba7 = $(`<div id="html_05ea271a74f84e6788bda860ff08fba7" style="width: 100.0%; height: 100.0%;">Najad 511 / 2004</div>`)[0];
            popup_bdb3ea246fbb4029a429d7b6137711a9.setContent(html_05ea271a74f84e6788bda860ff08fba7);
        

        marker_09b7a646e6bb4ac4a67cf376d6edca36.bindPopup(popup_bdb3ea246fbb4029a429d7b6137711a9)
        ;

        
    
    
            var marker_738ab964903340678a80904e81c9b57a = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_47fc67f5b95e4bedb0b5f9a6dd6727e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_738ab964903340678a80904e81c9b57a.setIcon(icon_47fc67f5b95e4bedb0b5f9a6dd6727e9);
        
    
        var popup_5b09eb5363dd4128bf37053905911309 = L.popup({"maxWidth": "100%"});

        
            var html_d96cdf8b16814848bd5ce644b3588f59 = $(`<div id="html_d96cdf8b16814848bd5ce644b3588f59" style="width: 100.0%; height: 100.0%;">Najad 460 / 2003</div>`)[0];
            popup_5b09eb5363dd4128bf37053905911309.setContent(html_d96cdf8b16814848bd5ce644b3588f59);
        

        marker_738ab964903340678a80904e81c9b57a.bindPopup(popup_5b09eb5363dd4128bf37053905911309)
        ;

        
    
    
            var marker_2ad19ceebbe349daa99d7e824401af66 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_954c5d9bd0224fbfaeea098faf60c592 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2ad19ceebbe349daa99d7e824401af66.setIcon(icon_954c5d9bd0224fbfaeea098faf60c592);
        
    
        var popup_2b2ca53d45834d6eb9778d9d0c94cc6b = L.popup({"maxWidth": "100%"});

        
            var html_4e3d857b9a9d4b299464aac153f3ac35 = $(`<div id="html_4e3d857b9a9d4b299464aac153f3ac35" style="width: 100.0%; height: 100.0%;">Najad 391 / 1999</div>`)[0];
            popup_2b2ca53d45834d6eb9778d9d0c94cc6b.setContent(html_4e3d857b9a9d4b299464aac153f3ac35);
        

        marker_2ad19ceebbe349daa99d7e824401af66.bindPopup(popup_2b2ca53d45834d6eb9778d9d0c94cc6b)
        ;

        
    
    
            var marker_2060c9703a0f4d309d1676ec55cae526 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_f14ed0e64c7640fa96d1fd0bfef69598 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_2060c9703a0f4d309d1676ec55cae526.setIcon(icon_f14ed0e64c7640fa96d1fd0bfef69598);
        
    
        var popup_eb21e453836945e199740ab1400b3d60 = L.popup({"maxWidth": "100%"});

        
            var html_ae04b227ebd043cda29266e83bbe3982 = $(`<div id="html_ae04b227ebd043cda29266e83bbe3982" style="width: 100.0%; height: 100.0%;">Najad 332 - 2006 inkl. lån av båtplats</div>`)[0];
            popup_eb21e453836945e199740ab1400b3d60.setContent(html_ae04b227ebd043cda29266e83bbe3982);
        

        marker_2060c9703a0f4d309d1676ec55cae526.bindPopup(popup_eb21e453836945e199740ab1400b3d60)
        ;

        
    
    
            var marker_89d51ca6a4c146ffb66d07d3ad6a0637 = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_1d09b5b1a8ba49daa569354e79410372);
        
    
            var icon_60cacf5c75c0497e8987d6775b39986f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_89d51ca6a4c146ffb66d07d3ad6a0637.setIcon(icon_60cacf5c75c0497e8987d6775b39986f);
        
    
        var popup_28a0acf773d9411d81b4dbe6cba7a54e = L.popup({"maxWidth": "100%"});

        
            var html_db83a5d1da4049e28d1ce3adf45d1f02 = $(`<div id="html_db83a5d1da4049e28d1ce3adf45d1f02" style="width: 100.0%; height: 100.0%;">Najad 570</div>`)[0];
            popup_28a0acf773d9411d81b4dbe6cba7a54e.setContent(html_db83a5d1da4049e28d1ce3adf45d1f02);
        

        marker_89d51ca6a4c146ffb66d07d3ad6a0637.bindPopup(popup_28a0acf773d9411d81b4dbe6cba7a54e)
        ;

        
    
</script>