<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5aadb63739914ce6acff83be1bcdaecd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5aadb63739914ce6acff83be1bcdaecd" ></div>
        
</body>
<script>    
    
            var map_5aadb63739914ce6acff83be1bcdaecd = L.map(
                "map_5aadb63739914ce6acff83be1bcdaecd",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_198353ce8ca840a5b541e05e53a9eac7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5aadb63739914ce6acff83be1bcdaecd);
        
    
            var marker_cluster_8125ea7282304948b5fb74b1b1d383ed = L.markerClusterGroup(
                {}
            );
            map_5aadb63739914ce6acff83be1bcdaecd.addLayer(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var marker_a9ccc953bba14732b449706c790ce49e = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_7fdba65938d2427e9cee778564af6ecc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a9ccc953bba14732b449706c790ce49e.setIcon(icon_7fdba65938d2427e9cee778564af6ecc);
        
    
        var popup_5581e2fbecac420698b8b2d7253aa8ba = L.popup({"maxWidth": "100%"});

        
            var html_1f45086589d34a39896c54a5003e0769 = $(`<div id="html_1f45086589d34a39896c54a5003e0769" style="width: 100.0%; height: 100.0%;"> Aphrodite 30, location - Göteborg </div>`)[0];
            popup_5581e2fbecac420698b8b2d7253aa8ba.setContent(html_1f45086589d34a39896c54a5003e0769);
        

        marker_a9ccc953bba14732b449706c790ce49e.bindPopup(popup_5581e2fbecac420698b8b2d7253aa8ba)
        ;

        
    
    
            var marker_05761f45939b4382a323b3e145e1e14c = L.marker(
                [58.96382725, 16.7299348116221],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_be6109c2e66647e6bf0e3d5985b6f42e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_05761f45939b4382a323b3e145e1e14c.setIcon(icon_be6109c2e66647e6bf0e3d5985b6f42e);
        
    
        var popup_617304a3e2bc49c0abd010e176d9dece = L.popup({"maxWidth": "100%"});

        
            var html_efcec664cbf6430eb74427b6c7a428b5 = $(`<div id="html_efcec664cbf6430eb74427b6c7a428b5" style="width: 100.0%; height: 100.0%;"> Aphrodite 25, location - Södermanland </div>`)[0];
            popup_617304a3e2bc49c0abd010e176d9dece.setContent(html_efcec664cbf6430eb74427b6c7a428b5);
        

        marker_05761f45939b4382a323b3e145e1e14c.bindPopup(popup_617304a3e2bc49c0abd010e176d9dece)
        ;

        
    
    
            var marker_3022608f873a424997ee070f015cfe5e = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_9c0eb674532141eda8a635a780bf4ee7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_3022608f873a424997ee070f015cfe5e.setIcon(icon_9c0eb674532141eda8a635a780bf4ee7);
        
    
        var popup_e10dc08bfa884103b78706c7ba0b340c = L.popup({"maxWidth": "100%"});

        
            var html_2ce97cd8771e401db75a9bdb85793716 = $(`<div id="html_2ce97cd8771e401db75a9bdb85793716" style="width: 100.0%; height: 100.0%;"> Aphrodite 33 nr 25, location - Kalmar </div>`)[0];
            popup_e10dc08bfa884103b78706c7ba0b340c.setContent(html_2ce97cd8771e401db75a9bdb85793716);
        

        marker_3022608f873a424997ee070f015cfe5e.bindPopup(popup_e10dc08bfa884103b78706c7ba0b340c)
        ;

        
    
    
            var marker_ff37fce0b02b4050b4014b4f596465d8 = L.marker(
                [57.68126056944286, 11.918932454934133],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_63c763205b31417091e3684f86df6182 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ff37fce0b02b4050b4014b4f596465d8.setIcon(icon_63c763205b31417091e3684f86df6182);
        
    
        var popup_23e5e839e6914a6f898a85c5d8ba2528 = L.popup({"maxWidth": "100%"});

        
            var html_5202d594af01443991bb0d42fa85012b = $(`<div id="html_5202d594af01443991bb0d42fa85012b" style="width: 100.0%; height: 100.0%;"> Aphrodite, location - Göteborg </div>`)[0];
            popup_23e5e839e6914a6f898a85c5d8ba2528.setContent(html_5202d594af01443991bb0d42fa85012b);
        

        marker_ff37fce0b02b4050b4014b4f596465d8.bindPopup(popup_23e5e839e6914a6f898a85c5d8ba2528)
        ;

        
    
    
            var marker_1d203d7ad619479f88a123bfeb5b25dc = L.marker(
                [57.6783173, 18.6384635860988],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_770666f3766349f09051c5405aa7822f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1d203d7ad619479f88a123bfeb5b25dc.setIcon(icon_770666f3766349f09051c5405aa7822f);
        
    
        var popup_66a2d6d7a15c494599fd90ab7b4fcde8 = L.popup({"maxWidth": "100%"});

        
            var html_580b737d0eed40ebb5ba3c2ae4c9771e = $(`<div id="html_580b737d0eed40ebb5ba3c2ae4c9771e" style="width: 100.0%; height: 100.0%;"> Hanse 301- 1998, location - Gotland </div>`)[0];
            popup_66a2d6d7a15c494599fd90ab7b4fcde8.setContent(html_580b737d0eed40ebb5ba3c2ae4c9771e);
        

        marker_1d203d7ad619479f88a123bfeb5b25dc.bindPopup(popup_66a2d6d7a15c494599fd90ab7b4fcde8)
        ;

        
    
    
            var marker_5c304e5a213349e183b49bb0cf737b0a = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_8125ea7282304948b5fb74b1b1d383ed);
        
    
            var icon_0b41ad89f9aa4bb7b210d7bed5dbfdaf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5c304e5a213349e183b49bb0cf737b0a.setIcon(icon_0b41ad89f9aa4bb7b210d7bed5dbfdaf);
        
    
        var popup_2073e50efe064c62ab30040b8ad6e3dd = L.popup({"maxWidth": "100%"});

        
            var html_ef678c96941e4b078b6007e747f8fe71 = $(`<div id="html_ef678c96941e4b078b6007e747f8fe71" style="width: 100.0%; height: 100.0%;"> Aphrodite 25 kom med bud, location - Stockholm </div>`)[0];
            popup_2073e50efe064c62ab30040b8ad6e3dd.setContent(html_ef678c96941e4b078b6007e747f8fe71);
        

        marker_5c304e5a213349e183b49bb0cf737b0a.bindPopup(popup_2073e50efe064c62ab30040b8ad6e3dd)
        ;

        
    
</script>