<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_69924027a58d4279b82ea428f42503bc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_69924027a58d4279b82ea428f42503bc" ></div>
        
</body>
<script>    
    
            var map_69924027a58d4279b82ea428f42503bc = L.map(
                "map_69924027a58d4279b82ea428f42503bc",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_48106d4487464cf7ba026d5f2dd98255 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_69924027a58d4279b82ea428f42503bc);
        
    
            var marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9 = L.markerClusterGroup(
                {}
            );
            map_69924027a58d4279b82ea428f42503bc.addLayer(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var marker_93739e0c732a4df0bd5f04064cf5f410 = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_56fd8a29de3c43da83a054ca5dcf1450 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_93739e0c732a4df0bd5f04064cf5f410.setIcon(icon_56fd8a29de3c43da83a054ca5dcf1450);
        
    
        var popup_8a047ca7c6eb468082073ce0efcca252 = L.popup({"maxWidth": "100%"});

        
            var html_3103ea8566744e09a0ca1a59ec29335b = $(`<div id="html_3103ea8566744e09a0ca1a59ec29335b" style="width: 100.0%; height: 100.0%;"> Najad 343 Dl #8 1981, location - Jönköping </div>`)[0];
            popup_8a047ca7c6eb468082073ce0efcca252.setContent(html_3103ea8566744e09a0ca1a59ec29335b);
        

        marker_93739e0c732a4df0bd5f04064cf5f410.bindPopup(popup_8a047ca7c6eb468082073ce0efcca252)
        ;

        
    
    
            var marker_891cf554d1b943478092b8192be5bd11 = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_803dda112b924222b77f82a2c5c38020 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_891cf554d1b943478092b8192be5bd11.setIcon(icon_803dda112b924222b77f82a2c5c38020);
        
    
        var popup_88a021dfc4104dacba8a5693330d7ebf = L.popup({"maxWidth": "100%"});

        
            var html_9856c76edddf47d6a121c1ff37d250f2 = $(`<div id="html_9856c76edddf47d6a121c1ff37d250f2" style="width: 100.0%; height: 100.0%;"> Elvström 31, location - Halland </div>`)[0];
            popup_88a021dfc4104dacba8a5693330d7ebf.setContent(html_9856c76edddf47d6a121c1ff37d250f2);
        

        marker_891cf554d1b943478092b8192be5bd11.bindPopup(popup_88a021dfc4104dacba8a5693330d7ebf)
        ;

        
    
    
            var marker_fa5035f834af4961b55d9693ef8baa29 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_5e6846e447604697bcc7c308181bd768 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_fa5035f834af4961b55d9693ef8baa29.setIcon(icon_5e6846e447604697bcc7c308181bd768);
        
    
        var popup_33dbd48465224aedb054b81191c1d60d = L.popup({"maxWidth": "100%"});

        
            var html_a266dbffa9c746bdbd02699f02ab784a = $(`<div id="html_a266dbffa9c746bdbd02699f02ab784a" style="width: 100.0%; height: 100.0%;"> Arcona 435 Ny, location - Stockholm </div>`)[0];
            popup_33dbd48465224aedb054b81191c1d60d.setContent(html_a266dbffa9c746bdbd02699f02ab784a);
        

        marker_fa5035f834af4961b55d9693ef8baa29.bindPopup(popup_33dbd48465224aedb054b81191c1d60d)
        ;

        
    
    
            var marker_7cc535de26a549018371f69b4157682a = L.marker(
                [56.12401225, 15.4021841371942],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_75454315455c4f5d93f7770c5e88cef2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7cc535de26a549018371f69b4157682a.setIcon(icon_75454315455c4f5d93f7770c5e88cef2);
        
    
        var popup_10d44503464d490ba4c8a45dec3b7fb7 = L.popup({"maxWidth": "100%"});

        
            var html_1b57d9929d0c4c4d9f78cf044f1d658f = $(`<div id="html_1b57d9929d0c4c4d9f78cf044f1d658f" style="width: 100.0%; height: 100.0%;"> Far East 28R, 2017, location - Blekinge </div>`)[0];
            popup_10d44503464d490ba4c8a45dec3b7fb7.setContent(html_1b57d9929d0c4c4d9f78cf044f1d658f);
        

        marker_7cc535de26a549018371f69b4157682a.bindPopup(popup_10d44503464d490ba4c8a45dec3b7fb7)
        ;

        
    
    
            var marker_c374911da3be4c119ca8b0556850f0b2 = L.marker(
                [59.352894060853295, 18.10401298420729],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_2623c9ec014747a696d6e47158320acc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c374911da3be4c119ca8b0556850f0b2.setIcon(icon_2623c9ec014747a696d6e47158320acc);
        
    
        var popup_21da1e4608e141cd9871ad340e1bca18 = L.popup({"maxWidth": "100%"});

        
            var html_a9067babb3c8451b98cec0ca8aeb3e4e = $(`<div id="html_a9067babb3c8451b98cec0ca8aeb3e4e" style="width: 100.0%; height: 100.0%;"> Grinde nr 59 Jolanna II, location - Stockholm </div>`)[0];
            popup_21da1e4608e141cd9871ad340e1bca18.setContent(html_a9067babb3c8451b98cec0ca8aeb3e4e);
        

        marker_c374911da3be4c119ca8b0556850f0b2.bindPopup(popup_21da1e4608e141cd9871ad340e1bca18)
        ;

        
    
    
            var marker_c8778a91076d49068523214095cf6127 = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_559abdfb06174408991f4a33e106dc7b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c8778a91076d49068523214095cf6127.setIcon(icon_559abdfb06174408991f4a33e106dc7b);
        
    
        var popup_c42765fce12b4015b4b3d39bd8356b73 = L.popup({"maxWidth": "100%"});

        
            var html_a8dd445312d340648859d9ab4d17aca0 = $(`<div id="html_a8dd445312d340648859d9ab4d17aca0" style="width: 100.0%; height: 100.0%;"> X-362 Sport - 2001, location - Helsingborg </div>`)[0];
            popup_c42765fce12b4015b4b3d39bd8356b73.setContent(html_a8dd445312d340648859d9ab4d17aca0);
        

        marker_c8778a91076d49068523214095cf6127.bindPopup(popup_c42765fce12b4015b4b3d39bd8356b73)
        ;

        
    
    
            var marker_02eb5fcaa8534b9b89aea560fc4e4537 = L.marker(
                [56.10139305802037, 15.389725814255069],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_b00e7b8816b3434fa1bb8b544a9b4c83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_02eb5fcaa8534b9b89aea560fc4e4537.setIcon(icon_b00e7b8816b3434fa1bb8b544a9b4c83);
        
    
        var popup_c97cbc9db9cc46bbb1968a44ba22860a = L.popup({"maxWidth": "100%"});

        
            var html_28d7fc3e84ea431a8645f3f9d120478c = $(`<div id="html_28d7fc3e84ea431a8645f3f9d120478c" style="width: 100.0%; height: 100.0%;"> NF, Nordisk familjebåt, med stark motor 2006, location - Blekinge </div>`)[0];
            popup_c97cbc9db9cc46bbb1968a44ba22860a.setContent(html_28d7fc3e84ea431a8645f3f9d120478c);
        

        marker_02eb5fcaa8534b9b89aea560fc4e4537.bindPopup(popup_c97cbc9db9cc46bbb1968a44ba22860a)
        ;

        
    
    
            var marker_7b4cbd2f0f694b91846469bc499da3e4 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_f091d3fca970466cb3c345b0ecaff53d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7b4cbd2f0f694b91846469bc499da3e4.setIcon(icon_f091d3fca970466cb3c345b0ecaff53d);
        
    
        var popup_137ba98aeb27434c98bb268536331f25 = L.popup({"maxWidth": "100%"});

        
            var html_57fe667c9ef14ce8b1a4432b2ded2677 = $(`<div id="html_57fe667c9ef14ce8b1a4432b2ded2677" style="width: 100.0%; height: 100.0%;"> Bavaria 50 vision ( eu vat 25% paid), location - Göteborg </div>`)[0];
            popup_137ba98aeb27434c98bb268536331f25.setContent(html_57fe667c9ef14ce8b1a4432b2ded2677);
        

        marker_7b4cbd2f0f694b91846469bc499da3e4.bindPopup(popup_137ba98aeb27434c98bb268536331f25)
        ;

        
    
    
            var marker_1a5be9d2c98c43c5bd4a57c348246c52 = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_218c69f0a1264fbea88ff9a0b2b6ef47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1a5be9d2c98c43c5bd4a57c348246c52.setIcon(icon_218c69f0a1264fbea88ff9a0b2b6ef47);
        
    
        var popup_cb671ef15e0d43c1aec87ef98e1157a4 = L.popup({"maxWidth": "100%"});

        
            var html_74c19dc7b70e46c181ef03c36a0d066a = $(`<div id="html_74c19dc7b70e46c181ef03c36a0d066a" style="width: 100.0%; height: 100.0%;"> Omega 36, location - Kalmar </div>`)[0];
            popup_cb671ef15e0d43c1aec87ef98e1157a4.setContent(html_74c19dc7b70e46c181ef03c36a0d066a);
        

        marker_1a5be9d2c98c43c5bd4a57c348246c52.bindPopup(popup_cb671ef15e0d43c1aec87ef98e1157a4)
        ;

        
    
    
            var marker_d186c17507824ac4a6ed22a8fc951d26 = L.marker(
                [56.94022189340765, 12.849218107901219],
                {"radius": 1}
            ).addTo(marker_cluster_4d3fb468c9fd4963abc1b689dff7ffe9);
        
    
            var icon_afafa423b7ac441a9db200b32a7fc3ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d186c17507824ac4a6ed22a8fc951d26.setIcon(icon_afafa423b7ac441a9db200b32a7fc3ea);
        
    
        var popup_47cc38bbd02e437cbe6f76150a9db60b = L.popup({"maxWidth": "100%"});

        
            var html_873f293d942542f7b4cb00fb07f7300e = $(`<div id="html_873f293d942542f7b4cb00fb07f7300e" style="width: 100.0%; height: 100.0%;"> Saare 41 - 2010, location - Halland </div>`)[0];
            popup_47cc38bbd02e437cbe6f76150a9db60b.setContent(html_873f293d942542f7b4cb00fb07f7300e);
        

        marker_d186c17507824ac4a6ed22a8fc951d26.bindPopup(popup_47cc38bbd02e437cbe6f76150a9db60b)
        ;

        
    
</script>