<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7015c2172caa4cf8acdc57eb383b8bc8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_7015c2172caa4cf8acdc57eb383b8bc8" ></div>
        
</body>
<script>    
    
            var map_7015c2172caa4cf8acdc57eb383b8bc8 = L.map(
                "map_7015c2172caa4cf8acdc57eb383b8bc8",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e7b6b2d98a2146b489313656a48d1fab = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7015c2172caa4cf8acdc57eb383b8bc8);
        
    
            var marker_cluster_d87a2ed0f6f74c1589df921bdde3e957 = L.markerClusterGroup(
                {}
            );
            map_7015c2172caa4cf8acdc57eb383b8bc8.addLayer(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var marker_a0ad43ec831a4376aa6f23e7d6aaed84 = L.marker(
                [57.7814709, 14.1627579],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_9796ade6e2ad44ad8af91b379b011056 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a0ad43ec831a4376aa6f23e7d6aaed84.setIcon(icon_9796ade6e2ad44ad8af91b379b011056);
        
    
        var popup_9ee1bc82adc64da3bc3d85c19664a37f = L.popup({"maxWidth": "100%"});

        
            var html_0e6fe648e057488aa00adf94715b788d = $(`<div id="html_0e6fe648e057488aa00adf94715b788d" style="width: 100.0%; height: 100.0%;"> Najad 343 Dl #8 1981, location - Jönköping </div>`)[0];
            popup_9ee1bc82adc64da3bc3d85c19664a37f.setContent(html_0e6fe648e057488aa00adf94715b788d);
        

        marker_a0ad43ec831a4376aa6f23e7d6aaed84.bindPopup(popup_9ee1bc82adc64da3bc3d85c19664a37f)
        ;

        
    
    
            var marker_778bff7af545448186c8b0bdc6683da6 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_b115b8b5ab224d5fb0a2173d6e9bb78b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_778bff7af545448186c8b0bdc6683da6.setIcon(icon_b115b8b5ab224d5fb0a2173d6e9bb78b);
        
    
        var popup_3c90a84a7bce4ac7ba8f6c79dc560d82 = L.popup({"maxWidth": "100%"});

        
            var html_7941a9f5c9f74fa19e9e6d0ec46d0ef5 = $(`<div id="html_7941a9f5c9f74fa19e9e6d0ec46d0ef5" style="width: 100.0%; height: 100.0%;"> Arcona 435 Ny, location - Stockholm </div>`)[0];
            popup_3c90a84a7bce4ac7ba8f6c79dc560d82.setContent(html_7941a9f5c9f74fa19e9e6d0ec46d0ef5);
        

        marker_778bff7af545448186c8b0bdc6683da6.bindPopup(popup_3c90a84a7bce4ac7ba8f6c79dc560d82)
        ;

        
    
    
            var marker_72ab5d55a7c24d66bcb8e40c723bc647 = L.marker(
                [56.12401225, 15.4021841371942],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_ec86220673c24e5f947e76c796f3d783 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_72ab5d55a7c24d66bcb8e40c723bc647.setIcon(icon_ec86220673c24e5f947e76c796f3d783);
        
    
        var popup_796bb6ee58004d13a427af661842047c = L.popup({"maxWidth": "100%"});

        
            var html_10fc380848fd48aeb96e0c33ef15c5cc = $(`<div id="html_10fc380848fd48aeb96e0c33ef15c5cc" style="width: 100.0%; height: 100.0%;"> Far East 28R, 2017, location - Blekinge </div>`)[0];
            popup_796bb6ee58004d13a427af661842047c.setContent(html_10fc380848fd48aeb96e0c33ef15c5cc);
        

        marker_72ab5d55a7c24d66bcb8e40c723bc647.bindPopup(popup_796bb6ee58004d13a427af661842047c)
        ;

        
    
    
            var marker_f7eddc93e10a465d9b5adb42deda8730 = L.marker(
                [59.30724344139324, 18.048641713785067],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_6387c7b0f3a44ba994e5019d794b9592 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_f7eddc93e10a465d9b5adb42deda8730.setIcon(icon_6387c7b0f3a44ba994e5019d794b9592);
        
    
        var popup_24149c99ef564872b80048d3ff79eb0f = L.popup({"maxWidth": "100%"});

        
            var html_89765a14c7114e8d824fddafe57b22cc = $(`<div id="html_89765a14c7114e8d824fddafe57b22cc" style="width: 100.0%; height: 100.0%;"> Grinde nr 59 Jolanna II, location - Stockholm </div>`)[0];
            popup_24149c99ef564872b80048d3ff79eb0f.setContent(html_89765a14c7114e8d824fddafe57b22cc);
        

        marker_f7eddc93e10a465d9b5adb42deda8730.bindPopup(popup_24149c99ef564872b80048d3ff79eb0f)
        ;

        
    
    
            var marker_f8062d203591450e8965d35377562f6a = L.marker(
                [56.0441984, 12.7040684],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_62bb695fda73490e863828ef67bcbb50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_f8062d203591450e8965d35377562f6a.setIcon(icon_62bb695fda73490e863828ef67bcbb50);
        
    
        var popup_3dee7b1a2fc44d19bd791966912b0ca7 = L.popup({"maxWidth": "100%"});

        
            var html_229de3b702814f408c246bfdeedb790a = $(`<div id="html_229de3b702814f408c246bfdeedb790a" style="width: 100.0%; height: 100.0%;"> X-362 Sport - 2001, location - Helsingborg </div>`)[0];
            popup_3dee7b1a2fc44d19bd791966912b0ca7.setContent(html_229de3b702814f408c246bfdeedb790a);
        

        marker_f8062d203591450e8965d35377562f6a.bindPopup(popup_3dee7b1a2fc44d19bd791966912b0ca7)
        ;

        
    
    
            var marker_aec9db11d6a14b80aaa9c288dc241d27 = L.marker(
                [56.083489519495544, 15.363935078128895],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_ef13753dbbd744e4ae84accb7b393755 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_aec9db11d6a14b80aaa9c288dc241d27.setIcon(icon_ef13753dbbd744e4ae84accb7b393755);
        
    
        var popup_0c4dfe454a184f4da47121082214cc10 = L.popup({"maxWidth": "100%"});

        
            var html_ce3015879f6d4819ab7811e679021ddd = $(`<div id="html_ce3015879f6d4819ab7811e679021ddd" style="width: 100.0%; height: 100.0%;"> NF, Nordisk familjebåt, med stark motor 2006, location - Blekinge </div>`)[0];
            popup_0c4dfe454a184f4da47121082214cc10.setContent(html_ce3015879f6d4819ab7811e679021ddd);
        

        marker_aec9db11d6a14b80aaa9c288dc241d27.bindPopup(popup_0c4dfe454a184f4da47121082214cc10)
        ;

        
    
    
            var marker_9a0290be3f7441a2b002cd4d98667102 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_bdf215f0717b40b58417548ee87eecb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_9a0290be3f7441a2b002cd4d98667102.setIcon(icon_bdf215f0717b40b58417548ee87eecb3);
        
    
        var popup_60cc12264245485b93d8fa3904c5cca2 = L.popup({"maxWidth": "100%"});

        
            var html_6702fef0629d49389cd98c615fd1d09c = $(`<div id="html_6702fef0629d49389cd98c615fd1d09c" style="width: 100.0%; height: 100.0%;"> Bavaria 50 vision ( eu vat 25% paid), location - Göteborg </div>`)[0];
            popup_60cc12264245485b93d8fa3904c5cca2.setContent(html_6702fef0629d49389cd98c615fd1d09c);
        

        marker_9a0290be3f7441a2b002cd4d98667102.bindPopup(popup_60cc12264245485b93d8fa3904c5cca2)
        ;

        
    
    
            var marker_aa5722e8fff844a5a993199a630b5b3b = L.marker(
                [56.6628826, 16.3662382],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_fcec49e359684e78ac857a1c3428954f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_aa5722e8fff844a5a993199a630b5b3b.setIcon(icon_fcec49e359684e78ac857a1c3428954f);
        
    
        var popup_59f6cf9d19014f609cc03a7893e847c8 = L.popup({"maxWidth": "100%"});

        
            var html_6984f9023455470c8729963e41a05763 = $(`<div id="html_6984f9023455470c8729963e41a05763" style="width: 100.0%; height: 100.0%;"> Omega 36, location - Kalmar </div>`)[0];
            popup_59f6cf9d19014f609cc03a7893e847c8.setContent(html_6984f9023455470c8729963e41a05763);
        

        marker_aa5722e8fff844a5a993199a630b5b3b.bindPopup(popup_59f6cf9d19014f609cc03a7893e847c8)
        ;

        
    
    
            var marker_a89e706c8653485facdd77190ca84adf = L.marker(
                [56.9604279, 12.8074182434422],
                {"radius": 1}
            ).addTo(marker_cluster_d87a2ed0f6f74c1589df921bdde3e957);
        
    
            var icon_4db9b8d893904f87bd7963ebc64d74c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a89e706c8653485facdd77190ca84adf.setIcon(icon_4db9b8d893904f87bd7963ebc64d74c5);
        
    
        var popup_34de8210426a4a989f8df2cb6c298e67 = L.popup({"maxWidth": "100%"});

        
            var html_3f39062afa2a45669a3a28a4991945d5 = $(`<div id="html_3f39062afa2a45669a3a28a4991945d5" style="width: 100.0%; height: 100.0%;"> Saare 41 - 2010, location - Halland </div>`)[0];
            popup_34de8210426a4a989f8df2cb6c298e67.setContent(html_3f39062afa2a45669a3a28a4991945d5);
        

        marker_a89e706c8653485facdd77190ca84adf.bindPopup(popup_34de8210426a4a989f8df2cb6c298e67)
        ;

        
    
</script>