<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f4aba8fe1edc42968fd0727255b5511c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_f4aba8fe1edc42968fd0727255b5511c" ></div>
        
</body>
<script>    
    
            var map_f4aba8fe1edc42968fd0727255b5511c = L.map(
                "map_f4aba8fe1edc42968fd0727255b5511c",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a8d63c4e320e43b2bb567c807eebdee0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f4aba8fe1edc42968fd0727255b5511c);
        
    
            var marker_cluster_e3b3141063b042e0a361df0fac687b24 = L.markerClusterGroup(
                {}
            );
            map_f4aba8fe1edc42968fd0727255b5511c.addLayer(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var marker_001f2059afb0427c9656d19e944046b9 = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_8a0dc634f10a44248f5365aa0a0400a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_001f2059afb0427c9656d19e944046b9.setIcon(icon_8a0dc634f10a44248f5365aa0a0400a0);
        
    
        var popup_22889861f156432993635198be591a1b = L.popup({"maxWidth": "100%"});

        
            var html_d5c61ae7eef34960804e3fe4eb95c6d7 = $(`<div id="html_d5c61ae7eef34960804e3fe4eb95c6d7" style="width: 100.0%; height: 100.0%;"> Smaragd, SWE 199 - Eldrift - Topputrustad, location - Göteborg </div>`)[0];
            popup_22889861f156432993635198be591a1b.setContent(html_d5c61ae7eef34960804e3fe4eb95c6d7);
        

        marker_001f2059afb0427c9656d19e944046b9.bindPopup(popup_22889861f156432993635198be591a1b)
        ;

        
    
    
            var marker_61828271b2d2456a92669ef6e2aac307 = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_a80570506ed845f2b2e99c451a206066 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_61828271b2d2456a92669ef6e2aac307.setIcon(icon_a80570506ed845f2b2e99c451a206066);
        
    
        var popup_d97f6add5a2e403ab63af28f41c8a6f8 = L.popup({"maxWidth": "100%"});

        
            var html_02e5d3cf4e3c4d1e8be3a114cd44ddd5 = $(`<div id="html_02e5d3cf4e3c4d1e8be3a114cd44ddd5" style="width: 100.0%; height: 100.0%;"> Smaragd i fint skick. Mycket ny utrustning, location - Stockholm </div>`)[0];
            popup_d97f6add5a2e403ab63af28f41c8a6f8.setContent(html_02e5d3cf4e3c4d1e8be3a114cd44ddd5);
        

        marker_61828271b2d2456a92669ef6e2aac307.bindPopup(popup_d97f6add5a2e403ab63af28f41c8a6f8)
        ;

        
    
    
            var marker_308f499df8de46e4a59c4cbe308dbe03 = L.marker(
                [59.27665630273236, 18.061539144247813],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_7dfe2fcce764453fae48525949acd79a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_308f499df8de46e4a59c4cbe308dbe03.setIcon(icon_7dfe2fcce764453fae48525949acd79a);
        
    
        var popup_4a592f1cf5eb4f4687f7285c3ad04dc8 = L.popup({"maxWidth": "100%"});

        
            var html_b4d5c054f413435cb3f06eb6221e9c42 = $(`<div id="html_b4d5c054f413435cb3f06eb6221e9c42" style="width: 100.0%; height: 100.0%;"> Smaragd SWE 214 - 1997, location - Stockholm </div>`)[0];
            popup_4a592f1cf5eb4f4687f7285c3ad04dc8.setContent(html_b4d5c054f413435cb3f06eb6221e9c42);
        

        marker_308f499df8de46e4a59c4cbe308dbe03.bindPopup(popup_4a592f1cf5eb4f4687f7285c3ad04dc8)
        ;

        
    
    
            var marker_c05de7d2775746108469e2b97e753808 = L.marker(
                [59.31327788342693, 18.110897378056713],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_87821cae454b4132bd94e68d97b78753 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c05de7d2775746108469e2b97e753808.setIcon(icon_87821cae454b4132bd94e68d97b78753);
        
    
        var popup_2de786d2658a43b4b42c81379e787776 = L.popup({"maxWidth": "100%"});

        
            var html_8d7851428ec44ab588ba855b5b3ce61c = $(`<div id="html_8d7851428ec44ab588ba855b5b3ce61c" style="width: 100.0%; height: 100.0%;"> Smaragd 65 1979, location - Stockholm </div>`)[0];
            popup_2de786d2658a43b4b42c81379e787776.setContent(html_8d7851428ec44ab588ba855b5b3ce61c);
        

        marker_c05de7d2775746108469e2b97e753808.bindPopup(popup_2de786d2658a43b4b42c81379e787776)
        ;

        
    
    
            var marker_ec2bdb7102de4feba3f8767303fc56f3 = L.marker(
                [59.33035692168737, 18.021937893804296],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_19547924c485457daa55199e2816418a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ec2bdb7102de4feba3f8767303fc56f3.setIcon(icon_19547924c485457daa55199e2816418a);
        
    
        var popup_6fd8937cf37b4a43ae68aed0bac7910f = L.popup({"maxWidth": "100%"});

        
            var html_0cfd29212f154bf1a9577bed3236a314 = $(`<div id="html_0cfd29212f154bf1a9577bed3236a314" style="width: 100.0%; height: 100.0%;"> Smaragd S-161, location - Stockholm </div>`)[0];
            popup_6fd8937cf37b4a43ae68aed0bac7910f.setContent(html_0cfd29212f154bf1a9577bed3236a314);
        

        marker_ec2bdb7102de4feba3f8767303fc56f3.bindPopup(popup_6fd8937cf37b4a43ae68aed0bac7910f)
        ;

        
    
    
            var marker_1029fa4e33644021bf75f348928daa82 = L.marker(
                [58.96382725, 16.7299348116221],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_2b2f387eeb6b432dae34c3de24a3c200 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1029fa4e33644021bf75f348928daa82.setIcon(icon_2b2f387eeb6b432dae34c3de24a3c200);
        
    
        var popup_bbe77832e4bb4872bba59e12931f4f57 = L.popup({"maxWidth": "100%"});

        
            var html_6f0bca770c9248f8b2fd7381fbe4beb6 = $(`<div id="html_6f0bca770c9248f8b2fd7381fbe4beb6" style="width: 100.0%; height: 100.0%;"> Smaragd SWE 55 "Gröna pantern", location - Södermanland </div>`)[0];
            popup_bbe77832e4bb4872bba59e12931f4f57.setContent(html_6f0bca770c9248f8b2fd7381fbe4beb6);
        

        marker_1029fa4e33644021bf75f348928daa82.bindPopup(popup_bbe77832e4bb4872bba59e12931f4f57)
        ;

        
    
    
            var marker_6b91a14769aa42af9f0a05bb1f00d33c = L.marker(
                [59.29812602638114, 18.054120961104083],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_0ca7093239fa450c88d0af68aaa6758e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_6b91a14769aa42af9f0a05bb1f00d33c.setIcon(icon_0ca7093239fa450c88d0af68aaa6758e);
        
    
        var popup_a4303c99aa414fc0ba84b6fc09be21e5 = L.popup({"maxWidth": "100%"});

        
            var html_60961a1c81ff43d88d9e6fb80980b06b = $(`<div id="html_60961a1c81ff43d88d9e6fb80980b06b" style="width: 100.0%; height: 100.0%;"> Smaragd SWE 200, location - Stockholm </div>`)[0];
            popup_a4303c99aa414fc0ba84b6fc09be21e5.setContent(html_60961a1c81ff43d88d9e6fb80980b06b);
        

        marker_6b91a14769aa42af9f0a05bb1f00d33c.bindPopup(popup_a4303c99aa414fc0ba84b6fc09be21e5)
        ;

        
    
    
            var marker_d88c0be8712c4f69ae22b2166b6a8afc = L.marker(
                [57.72126131512458, 11.993802706978801],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_6319c5c4c33f4b29ae7919ca75b15718 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d88c0be8712c4f69ae22b2166b6a8afc.setIcon(icon_6319c5c4c33f4b29ae7919ca75b15718);
        
    
        var popup_cea2c6bf888245a680d704704f5be0a5 = L.popup({"maxWidth": "100%"});

        
            var html_ac43b2e261a74498b3e124033dd89008 = $(`<div id="html_ac43b2e261a74498b3e124033dd89008" style="width: 100.0%; height: 100.0%;"> Smaragd, location - Göteborg </div>`)[0];
            popup_cea2c6bf888245a680d704704f5be0a5.setContent(html_ac43b2e261a74498b3e124033dd89008);
        

        marker_d88c0be8712c4f69ae22b2166b6a8afc.bindPopup(popup_cea2c6bf888245a680d704704f5be0a5)
        ;

        
    
    
            var marker_3284c24388a948269a85922199ffa7f0 = L.marker(
                [59.31255682506795, 18.04149188804586],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_a5574719729744638e60b79931f1414f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_3284c24388a948269a85922199ffa7f0.setIcon(icon_a5574719729744638e60b79931f1414f);
        
    
        var popup_97d70ad955624d4bb23bee5482a90faa = L.popup({"maxWidth": "100%"});

        
            var html_4e02f1bd984c4c4bac71314dbe93c435 = $(`<div id="html_4e02f1bd984c4c4bac71314dbe93c435" style="width: 100.0%; height: 100.0%;"> Smaragd SWE67, location - Stockholm </div>`)[0];
            popup_97d70ad955624d4bb23bee5482a90faa.setContent(html_4e02f1bd984c4c4bac71314dbe93c435);
        

        marker_3284c24388a948269a85922199ffa7f0.bindPopup(popup_97d70ad955624d4bb23bee5482a90faa)
        ;

        
    
    
            var marker_d08a9315f3e34a88b9c7231bd4216bd6 = L.marker(
                [59.34555140514238, 18.042558131110972],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_54e61ee746f242b590e518406babc27d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d08a9315f3e34a88b9c7231bd4216bd6.setIcon(icon_54e61ee746f242b590e518406babc27d);
        
    
        var popup_c85cc2659f3d4f5d8bd84d57ce38a1e1 = L.popup({"maxWidth": "100%"});

        
            var html_00530111cfdd4894a45413a58675e587 = $(`<div id="html_00530111cfdd4894a45413a58675e587" style="width: 100.0%; height: 100.0%;"> Smaragd med nya sittbrunnen SWE 97, location - Stockholm </div>`)[0];
            popup_c85cc2659f3d4f5d8bd84d57ce38a1e1.setContent(html_00530111cfdd4894a45413a58675e587);
        

        marker_d08a9315f3e34a88b9c7231bd4216bd6.bindPopup(popup_c85cc2659f3d4f5d8bd84d57ce38a1e1)
        ;

        
    
    
            var marker_665564258dd44b46abb7fa4597258f28 = L.marker(
                [59.29308042492983, 18.049742116823797],
                {"radius": 1}
            ).addTo(marker_cluster_e3b3141063b042e0a361df0fac687b24);
        
    
            var icon_23c1833d059d4c67ac245b3568929c61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_665564258dd44b46abb7fa4597258f28.setIcon(icon_23c1833d059d4c67ac245b3568929c61);
        
    
        var popup_7826550ab2c04a1fa88fa6e2b63b700e = L.popup({"maxWidth": "100%"});

        
            var html_3e58a58802c942b79967b973469842ff = $(`<div id="html_3e58a58802c942b79967b973469842ff" style="width: 100.0%; height: 100.0%;"> Tillfälle: Mycket välbyggd och fin Smaragd, location - Stockholm </div>`)[0];
            popup_7826550ab2c04a1fa88fa6e2b63b700e.setContent(html_3e58a58802c942b79967b973469842ff);
        

        marker_665564258dd44b46abb7fa4597258f28.bindPopup(popup_7826550ab2c04a1fa88fa6e2b63b700e)
        ;

        
    
</script>