<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6b4ae715cfd74a5ca1a4c11405e3d01c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_6b4ae715cfd74a5ca1a4c11405e3d01c" ></div>
        
</body>
<script>    
    
            var map_6b4ae715cfd74a5ca1a4c11405e3d01c = L.map(
                "map_6b4ae715cfd74a5ca1a4c11405e3d01c",
                {
                    center: [59.2, 18.04],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bb94933b168242828e5539e3978dd598 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6b4ae715cfd74a5ca1a4c11405e3d01c);
        
    
            var marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa = L.markerClusterGroup(
                {}
            );
            map_6b4ae715cfd74a5ca1a4c11405e3d01c.addLayer(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var marker_86aad3cbbe164915b06d2b90b3ea4e3f = L.marker(
                [59.3251172, 18.0710935],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_d445703bbb4c40d088f4ed53e2d2eaad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_86aad3cbbe164915b06d2b90b3ea4e3f.setIcon(icon_d445703bbb4c40d088f4ed53e2d2eaad);
        
    
        var popup_06050c8b153c45a5899301b6aa7ea600 = L.popup({"maxWidth": "100%"});

        
            var html_92c3695710634b2880df7e5182b6cdeb = $(`<div id="html_92c3695710634b2880df7e5182b6cdeb" style="width: 100.0%; height: 100.0%;"> Smaragd SWE 214 - 1997, location - Stockholm </div>`)[0];
            popup_06050c8b153c45a5899301b6aa7ea600.setContent(html_92c3695710634b2880df7e5182b6cdeb);
        

        marker_86aad3cbbe164915b06d2b90b3ea4e3f.bindPopup(popup_06050c8b153c45a5899301b6aa7ea600)
        ;

        
    
    
            var marker_a6e78c35a5a8482c80bf289a61e94229 = L.marker(
                [59.33082853705209, 18.11845190898702],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_7c0518cc57ff4e868763af4c6543fa63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_a6e78c35a5a8482c80bf289a61e94229.setIcon(icon_7c0518cc57ff4e868763af4c6543fa63);
        
    
        var popup_8cdfc304539e42f09836731f736e6fcc = L.popup({"maxWidth": "100%"});

        
            var html_c832d889bf9f43afab7fea76c58b7411 = $(`<div id="html_c832d889bf9f43afab7fea76c58b7411" style="width: 100.0%; height: 100.0%;"> Smaragd 65 1979, location - Stockholm </div>`)[0];
            popup_8cdfc304539e42f09836731f736e6fcc.setContent(html_c832d889bf9f43afab7fea76c58b7411);
        

        marker_a6e78c35a5a8482c80bf289a61e94229.bindPopup(popup_8cdfc304539e42f09836731f736e6fcc)
        ;

        
    
    
            var marker_1e0ea478ca0143ebbed56d4055d3cc38 = L.marker(
                [59.30730463646751, 18.025963479753898],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_cb4fb15d3c194dbfadeb07900f6e7b9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_1e0ea478ca0143ebbed56d4055d3cc38.setIcon(icon_cb4fb15d3c194dbfadeb07900f6e7b9b);
        
    
        var popup_27437ae9560d4ae493e8a6bdeb17d180 = L.popup({"maxWidth": "100%"});

        
            var html_f6591016aa394f6891110dca85fee7f0 = $(`<div id="html_f6591016aa394f6891110dca85fee7f0" style="width: 100.0%; height: 100.0%;"> Smaragd S-161, location - Stockholm </div>`)[0];
            popup_27437ae9560d4ae493e8a6bdeb17d180.setContent(html_f6591016aa394f6891110dca85fee7f0);
        

        marker_1e0ea478ca0143ebbed56d4055d3cc38.bindPopup(popup_27437ae9560d4ae493e8a6bdeb17d180)
        ;

        
    
    
            var marker_477cf0ebb0e14df9bd1e32ed43492c40 = L.marker(
                [58.96382725, 16.7299348116221],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_641f91ea994c49de9a48654683e0a0f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_477cf0ebb0e14df9bd1e32ed43492c40.setIcon(icon_641f91ea994c49de9a48654683e0a0f6);
        
    
        var popup_61f209950f9c4e04a24a7b53d5f5d280 = L.popup({"maxWidth": "100%"});

        
            var html_c18032f4e568415da75a1e2774b0cead = $(`<div id="html_c18032f4e568415da75a1e2774b0cead" style="width: 100.0%; height: 100.0%;"> Smaragd, SWE 199 - Eldrift - Topputrustad, location - Södermanland </div>`)[0];
            popup_61f209950f9c4e04a24a7b53d5f5d280.setContent(html_c18032f4e568415da75a1e2774b0cead);
        

        marker_477cf0ebb0e14df9bd1e32ed43492c40.bindPopup(popup_61f209950f9c4e04a24a7b53d5f5d280)
        ;

        
    
    
            var marker_fcb3fc3af01e4785b943c48b36c53fdc = L.marker(
                [57.7072326, 11.9670171],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_90e9f5e0400349839898eac1cb71ad95 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_fcb3fc3af01e4785b943c48b36c53fdc.setIcon(icon_90e9f5e0400349839898eac1cb71ad95);
        
    
        var popup_072f7bdda4764ceaa6ebfb3e60b1c114 = L.popup({"maxWidth": "100%"});

        
            var html_ea495a87bbef4afba4603e9f6d642046 = $(`<div id="html_ea495a87bbef4afba4603e9f6d642046" style="width: 100.0%; height: 100.0%;"> Smaragd SWE 200, location - Göteborg </div>`)[0];
            popup_072f7bdda4764ceaa6ebfb3e60b1c114.setContent(html_ea495a87bbef4afba4603e9f6d642046);
        

        marker_fcb3fc3af01e4785b943c48b36c53fdc.bindPopup(popup_072f7bdda4764ceaa6ebfb3e60b1c114)
        ;

        
    
    
            var marker_7641361962a441d29d7cd2541d75baf5 = L.marker(
                [59.302416931156614, 18.040933869104073],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_44ba980f5739402b948a906feb1a1ac2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7641361962a441d29d7cd2541d75baf5.setIcon(icon_44ba980f5739402b948a906feb1a1ac2);
        
    
        var popup_2c4cc7df19e347c0b9055fde0cb1651d = L.popup({"maxWidth": "100%"});

        
            var html_dadf71890c6a43c1a05e4af817fe3220 = $(`<div id="html_dadf71890c6a43c1a05e4af817fe3220" style="width: 100.0%; height: 100.0%;"> Smaragd i fint skick. Mycket ny utrustning, location - Stockholm </div>`)[0];
            popup_2c4cc7df19e347c0b9055fde0cb1651d.setContent(html_dadf71890c6a43c1a05e4af817fe3220);
        

        marker_7641361962a441d29d7cd2541d75baf5.bindPopup(popup_2c4cc7df19e347c0b9055fde0cb1651d)
        ;

        
    
    
            var marker_96a95a70642b4684984012000af839f4 = L.marker(
                [59.33550473149332, 18.04263200471435],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_d841da82f5664a4296e66706424f2ebf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_96a95a70642b4684984012000af839f4.setIcon(icon_d841da82f5664a4296e66706424f2ebf);
        
    
        var popup_aa16e278bbb04fa497601ecaa280b984 = L.popup({"maxWidth": "100%"});

        
            var html_f6e74c577c9b47349aebf49f3c2a2dda = $(`<div id="html_f6e74c577c9b47349aebf49f3c2a2dda" style="width: 100.0%; height: 100.0%;"> Smaragd, location - Stockholm </div>`)[0];
            popup_aa16e278bbb04fa497601ecaa280b984.setContent(html_f6e74c577c9b47349aebf49f3c2a2dda);
        

        marker_96a95a70642b4684984012000af839f4.bindPopup(popup_aa16e278bbb04fa497601ecaa280b984)
        ;

        
    
    
            var marker_e05511e60ddc4ef9ab1a8d666cd8be34 = L.marker(
                [57.72081217540639, 11.917808433913692],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_78168a41d27948e6af262548dc4c8bbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_e05511e60ddc4ef9ab1a8d666cd8be34.setIcon(icon_78168a41d27948e6af262548dc4c8bbd);
        
    
        var popup_a1f13cac934b41bdbb42bdf7a581dd62 = L.popup({"maxWidth": "100%"});

        
            var html_793e69a8dd0041ea8faa021520523720 = $(`<div id="html_793e69a8dd0041ea8faa021520523720" style="width: 100.0%; height: 100.0%;"> Smaragd SWE67, location - Göteborg </div>`)[0];
            popup_a1f13cac934b41bdbb42bdf7a581dd62.setContent(html_793e69a8dd0041ea8faa021520523720);
        

        marker_e05511e60ddc4ef9ab1a8d666cd8be34.bindPopup(popup_a1f13cac934b41bdbb42bdf7a581dd62)
        ;

        
    
    
            var marker_b6b6ea281ef74fb2bb502666c9f6d971 = L.marker(
                [59.2897054262172, 18.071322967342272],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_e085c5a5b7964851b2f8d79efd5f68a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_b6b6ea281ef74fb2bb502666c9f6d971.setIcon(icon_e085c5a5b7964851b2f8d79efd5f68a6);
        
    
        var popup_9a4c7a133d2e471693e76a6d18cd0bc6 = L.popup({"maxWidth": "100%"});

        
            var html_95e837602ca046c780e09c1ced8f74d2 = $(`<div id="html_95e837602ca046c780e09c1ced8f74d2" style="width: 100.0%; height: 100.0%;"> Smaragd med nya sittbrunnen SWE 97, location - Stockholm </div>`)[0];
            popup_9a4c7a133d2e471693e76a6d18cd0bc6.setContent(html_95e837602ca046c780e09c1ced8f74d2);
        

        marker_b6b6ea281ef74fb2bb502666c9f6d971.bindPopup(popup_9a4c7a133d2e471693e76a6d18cd0bc6)
        ;

        
    
    
            var marker_89c04e3a2b1f464eaf60b0743d62566a = L.marker(
                [59.303424968941194, 18.030053445403475],
                {"radius": 1}
            ).addTo(marker_cluster_6e8f61f83adc4140bf378bdbe3d593fa);
        
    
            var icon_54d643c5ab5c42328169c4e3ee77541a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_89c04e3a2b1f464eaf60b0743d62566a.setIcon(icon_54d643c5ab5c42328169c4e3ee77541a);
        
    
        var popup_081f2749fa824d048838807214d89c5a = L.popup({"maxWidth": "100%"});

        
            var html_bdf7cedc0b944b46b799d53a091648b7 = $(`<div id="html_bdf7cedc0b944b46b799d53a091648b7" style="width: 100.0%; height: 100.0%;"> Tillfälle: Mycket välbyggd och fin Smaragd, location - Stockholm </div>`)[0];
            popup_081f2749fa824d048838807214d89c5a.setContent(html_bdf7cedc0b944b46b799d53a091648b7);
        

        marker_89c04e3a2b1f464eaf60b0743d62566a.bindPopup(popup_081f2749fa824d048838807214d89c5a)
        ;

        
    
</script>