<!-- templates/articles/articles_index.html  -->
{%  extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
Articles main page
{% endblock %}
{% block content %}

    <style>
        .btn-group-vertical a, .btn-group-vertical button {
            width: 100%; margin-right: 20px;
        }

    </style>



 <img class=" offset-6 " style="position: absolute;   " height=  width=  src="{% static "articles/hobie-16-special-edition-16se.jpg" %}" alt="training boat">



    <div class="container-fluid mt-3 ">

        {%  for heading in subheadings %}
            <div class="row align-middle mb-2 align-self-start item">
                <div class = "col   ">

                    {%  ifchanged  heading.foreignkey.pk %}
                        <span class="nav-link root font-weight-bold align-middle">
        <span class="bg-info ml-0  rounded" style=" font-size: 20px">{{ heading.foreignkey.name }}</span>
        <a class="font-italic font-weight-light badge badge-dark ml-2" href="{%  url "articles:add_heading" pk=heading.foreignkey.pk %}">Add   Subheading</a>
        </span>{% endifchanged %}

                    <a class="ml-3"  style=" font-size: 18px" href="{% url "articles:show_by_heading" pk=heading.pk   %}">{{ heading.name|truncatechars:20 }} </a>

                    {% if not heading.cnt %}
                        <span class="badge badge-light text-muted"> EMPTY </span>

                        {% else %}
        <span class="badge badge-primary text-white"> {{ heading.cnt }} </span>
                    {% endif %}

                {% if heading.boat_num %}
                <span class="badge badge-warning text-muted"> CONNECTED TO BOAT </span>
                {% endif %}

                </div>

                {% if forloop.counter == 1 %}
                    <div class="col   text-right mr-5  item">
                        <div class="btn-group-vertical btn-outline-dark rounded border border-success" role="group" aria-label="Button coalition"  >
                            <a href="{% url "articles:add_article" pk=0 %}"><button type="button" class="btn btn-secondary rounded-0 border-bottom  ">Add an Article</button></a>
                            <a href="{%  url "articles:add_heading" pk=0 %}"><button type="button" class="btn btn-secondary rounded-0 border-bottom " >Add new Heading</button></a>
                            <a href="{%  url "articles:resurrection" %}"><button type="button" class="btn btn-secondary rounded-0">Recover  Articles</button></a>



                        </div>
                    </div>
                {% endif %}

            </div>


        {% endfor %}


    </div>




{% endblock content%}


