<!-- templates/articles/articles_index.html  -->
{%  extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    {% bootstrap_jquery "full" %}
    <div class="container-fluid mt-3 ">

        {%  for heading in subheadings %}
            <div class="row align-middle mb-2 align-self-start item">
                <div class = "col  my-auto align-self-start item ">
                    {%  ifchanged  heading.foreignkey.pk %}
                        <span class="nav-link root font-weight-bold align-middle">
        <span class="bg-info ml-0  rounded">{{ heading.foreignkey.name }}</span>
        <a class="font-italic font-weight-light badge badge-dark ml-2" href="{%  url "articles:add_heading" pk=heading.foreignkey.pk %}">Add   Subheading</a>
        </span>
                    {% endifchanged %}
                    <a class="ml-3"  href="{% url "articles:show_by_heading" pk=heading.pk   %}">
                        {{ heading.name }}</a>
                </div>

                {% if forloop.counter == 1 %}
                    <div class="col my-auto text-right mr-5 align-self-start item">
                        <a href="{% url "articles:add_article" pk=0 %}">Add article</a> <br>
                        <a href="{%  url "articles:add_heading" pk=0 %}">Add Heading and   Subheading</a>
                    </div>
                {% endif %}

            </div>

        {% endfor %}


    </div>




{% endblock content%}

