<!--templates/articles/show_by_subheadings.html   -->
{% extends "base.html" %}
{%  load bootstrap4 %}

{% block title %}
    Articles are shown in their sub-headings
{% endblock title %}

{%  block searchform %}
{% endblock searchform %}


{% block content %}

    <div class="container-fluid-md mb-0">
        <div class="row mt-2">
            <div class="col ">&nbsp;</div>
            <form class="col-md-auto form-inline mr-3">
                {% bootstrap_form form show_label=False form_group_class="border border-success rounded"%}
                {%  bootstrap_button content="Search" button_type="submit" button_class="form-button btn secondary border-success" extra_classes='data-toggle="tooltip" data-placement="top" title="get back to the Articles main page"' %}
            </form>
        </div>
    </div>


    <div class="row mt-2 justify-content-start">
    <div class="col ml-3">
        {% if list_of_articles %}
            <ul class="list-unstyled">
             <h4 class="mb-3 "> {{ current_heading }}</h4>

                {% for article  in list_of_articles %}
                    <li class="    p-2  ">
                        {%  url "articles:detail"  current_heading_pk=current_heading.pk  pk=article.pk as url %}
                        <a href="{{ url }}{{ all }}"></a>
                        <div class=" ">
                           <h5> <a href="{{ url }}{{ all }}">
                                {{ article.title }}</a>

                           {% if article.foreignkey_to_boat %}
                                <span class="badge badge-warning text-muted ml-2"> CONNECTED TO BOAT </span>
                               {% endif %}

                           </h5>
                        </div>

                    </li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
    <div class="col text-right">

    {% buttons %}
        <a href="{% url "articles:articles_main" %}"><button type="button" class="form-button btn secondary border-success" data-toggle="tooltip" data-placement="top" title="get back to the Articles main page" style="margin-right: 16px"> Back to the Articles</button></a>


    <div class="row">
        <div class="col text-right mt-2">

                    <a href="{% url "articles:add_article"  pk=current_heading.pk  %}"><button type="button" class="form-button btn secondary border-success mt-0" data-toggle="tooltip" data-placement="top" title="Create new article" style="margin-right: 16px"> Create new article</button></a>
                {% endbuttons %}

            <div>

            </div>
        </div>
    </div>
    </div>
    </div>




{%  if page.has_other_pages %}
    <footer>
    <div class="  pagination pagination-centered justify-content-center mt-2  " >
{% bootstrap_pagination page url=keyword %}
    </div>
    </footer>
{% endif %}



{% endblock %}


