<!-- templates/boat_detail.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{%  load thumbnail %}

{% block title %}
    {{ current_boat.boat_name }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class = "col-md-3 text-left">

                <ul type="square" class="border-right">
                    <h4 > Boat details</h4>
                    <li>Boat name -{{ current_boat.boat_name }}</li>
                    <li>Boat waterline length-{{ current_boat.boat_length }} feats </li>
                    <li>Boat rigging type-{{ current_boat.boat_mast_type }}</li>
                    <li>Country of origin-{{ current_boat.boat_country_of_origin }}</li>
                    <li>Boat keel type -{{ current_boat.boat_keel_type }}</li>
                    <li>Publishing date-
                        {{ current_boat.boat_publish_date|date:"SHORT_DATE_FORMAT"  }}</li>
                    <li>Price-{{ current_boat.boat_price }} &euro;</li>
                    <li>Manufacturing history of the model - {{ current_boat.first_year }} to {{ current_boat.last_year }}</li>
                    <li> <a href="{{ current_boat.boat_sailboatdata_link }}">Link to SailboatData</a></li>
                    <li> Entry Author-{{ current_boat.author}}</li>

                </ul>

            </div>
            <div class="col-md-7 border-right ">
                <p>Description-{{ current_boat.boat_description }}</p>
            </div>
            <div class="col-md-2  justify-content-end text-right mr-0  ">


                <style>
                    .btn-group-vertical a, .btn-group-vertical button {
                        width: 100%; margin-right: 20px;

                    }
                </style>


                <div class="btn-group-vertical btn-outline-dark rounded border border-success" role="group" aria-label="page management"  >
                    <a href="{% url "boats:boats"   %}"><button type="button" class="btn btn-secondary rounded-0 ">Back</button></a>
                    <a href="{% url "boats:boat_edit" current_boat.pk %}"> <button type="button" class="btn btn-secondary rounded-0 ">Edit</button></a>
                    <a href="{% url "boats:boat_delete" current_boat.pk %}"><button type="button" class="btn btn-secondary rounded-0 ">Delete</button></a>
                    <a href="{%  url "articles:comment" key="boats" pk=current_boat.pk %}"><button type="button" class="btn btn-secondary rounded-0 ">Comment</button></a>
                </div>
            </div>
        </div>
    </div>








    {% for instance in images %}

        <a href=" {{ instance.boat_photo.url}}"> <img class="  ml-3" src="{% thumbnail instance.boat_photo "default"  %}"></a>

    {% endfor %}



    {%  for comment in comments %}

        <Ul style="list-style: none" class="mt-3 mr-3">
            <li> <strong>{{ comment.author }} </strong> <i> {{ comment.created_at|date:"SHORT_DATE_FORMAT"  }} </i></li>
            <li> {{ comment.content }} </li>
        </Ul>
        <hr>
    {%  endfor %}




{% endblock content %}

