<!-- templates/boat_detail.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{%  load thumbnail %}
{% load i18n %}
{% bootstrap_jquery "full" %}
{% load filtersandtags %}
{% load cache %}

{% block title %}
    {{ current_boat.boat_name }}
{% endblock title %}

{% block content %}



    {% cache "60*60*24"|multiplier boat_detail_boat   EQ.eq_current_boat  request.user.is_authenticated %}

    <div class="container-fluid">
        <div class="row mt-3">
            <div class = "col-md-3 text-left">

                <ul type="square" class="border-right">
                    <h4 > {% trans "Boat details" %}</h4>
                    <li>Boat name -<strong>{{ current_boat.boat_name }}</strong></li>
                    <li> Entry Author-{{ current_boat.author}}</li>

                    <li>Boat waterline length-{{ current_boat.boat_length }} feats </li>
                    <li>Boat rigging type-{{ current_boat.get_boat_mast_type_display }}</li>
                    <li >Country of origin-{{ current_boat.boat_country_of_origin.name }}
                        <img class=" align-self-center " style="margin: 6px 4px 0; width: 35px; height: 20px; align-content: center" src='{{current_boat.boat_country_of_origin.flag}}'/> </li>

                    <li>Boat keel type -{{ current_boat.boat_keel_type }}</li>
                    <li>Publishing date-
                        {{ current_boat.boat_publish_date|date:"SHORT_DATE_FORMAT"  }}</li>
                    <li>Price-{{ current_boat.boat_price }} &euro;</li>
                    <li>Manufacturing history of the model - {{ current_boat.first_year }} to {{ current_boat.last_year }}</li>

                    <li> <a href="{{ current_boat.boat_sailboatdata_link }}" target="_blank">Link to SailboatData</a></li>

                    <li><a href="https://www.blocket.se/hela_sverige?q={{ current_boat.boat_name }}&cg=1060&w=3&st=s&ps=&pe=&c=1062&ca=11&is=1&l=0&md=li" target="_blank">Check it on www.blocket.se</a></li>

                    <li><a href="{% url "boats:blocket" pk=current_boat.id name=current_boat.boat_name|slugify  %}" target="_blank">Open list of BLOCKET announcements on a separate page</a></li>

                 <li><a href="
https://www.yachtworld.com/core/listing/cache/searchResults.jsp?man={{ current_boat.boat_name }}&is=&type=&luom=126&fromLength=&toLength=&fromYear=&toYear=&pricderange=Select+Price+Range&Ntt=&fromPrice=0&toPrice=&searchtype=homepage&cit=true&slim=quick&ybw=&sm=3&Ntk=boatsEN&currencyid=100
" target="_blank">Find {{ current_boat.boat_name|upper }} on Yachtworld</a></li>

                </ul>
            </div> <!--col-->




            <div class="col-md-7 border-right ">
                <p><span class="font-weight-bold"> Description -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ current_boat.boat_description }}</p>


                <div class="btn-group dropright border   ">
  <button type="button" class="btn btn-secondary dropdown-toggle border-success rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Get this as PDF
  </button>
  <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
    <a class="dropdown-item" href="{%  url "boats:pdf" pk=current_boat.pk %}"target="_blank">Open as a  PDF</a>
    <a class="dropdown-item" href="{%  url "boats:pdf_to_file" pk=current_boat.pk %}">Download PDF to your computer</a>
  </div>
</div>
            </div><!--col-->





            <div class="col-md-2  justify-content-end text-right mr-0  ">

                <style>
                    .btn-group-vertical a, .btn-group-vertical button {
                        width: 100%; margin-right: 0px;
                    }
                </style>

                <div class="btn-group-vertical btn-outline-dark rounded border border-success mr-2" role="group" aria-label="page management"  >
                    <a href="{% url "boats:boats"   %}"><button type="button" class="btn btn-secondary rounded-0 border-bottom">Back</button></a>
                    <a href="{% url "boats:boat_edit" current_boat.pk %}"> <button type="button" class="btn btn-secondary rounded-0 border-bottom ">Edit</button></a>
                    <a href="{% url "boats:boat_delete" current_boat.pk %}"><button type="button" class="btn btn-secondary rounded-0 border-bottom">Delete</button></a>
                    <a href="{%  url "articles:comment" key="boats" pk=current_boat.pk %}"><button type="button" class="btn btn-secondary rounded-0 ">Comment</button></a>
                </div>

{% endcache %}


{% cache "60*60*24"|multiplier boat_detail_versions   EQ.eq_versions  request.user.is_authenticated %}


{% if request.user == current_boat.author %}
 <div class="row text-right mt-2">
 <div class="col">
     <form action="{{ request.get_full_path_info }}" method="post" name="form1" id="1">
{% csrf_token %}

                    <select class="custom-select" name="rollback">
                        <option selected value="" class=" ">Select rollback date </option>
                        {% for version in versions %}
                        <option value="{{ version.id }}">--{{ version.revision.date_created }}</option>
                          {% endfor %}
                    </select>
     {% buttons %}
         <button type="submit" class="btn btn-secondary   border-success mt-2 rounded mr-1" style="width:106px">Rollback</button>
     {% endbuttons %}

   </form>
 </div>
</div>
{% endif %}

{% endcache %}


{% cache "60*60*24"|multiplier boat_detail_articles   EQ.eq_articles  current_boat.boat_name %}

                <div class = row >
                    <div class="col mr-1">

                            {% if articles|length < 5 %}
                            {%  for article in articles %}
                                {% if forloop.first %}<h6 class="mt-4"> Articles on {{ current_boat.boat_name }}</h6>{% endif %}
                                <ul type="square" class="border-right mt-2 text-right " style="list-style: none" >
                                    <li><a href="{% url "articles:detail" current_heading_pk=article.foreignkey_to_subheading_id  pk=article.pk %}{{ all }}">{{ article.title }}</a></li>
                                </ul>
                                {% empty %}
                                <h6 class="mt-4"> <span style="font-size: 22">{{ current_boat.boat_name }}</span> doesn't have any article. </h6>
                            {% endfor %}

                                {% else %}

                                  <h6 class="mt-4"> Articles on {{ current_boat.boat_name }}</h6>

                                 <div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:116px">
    Articles
  </button>
  <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
    {%  for article in articles %}

                                <ul type="square" class="border-right mt-2 " style="list-style: none" >
                                    <li><a href="{% url "articles:detail" current_heading_pk=article.foreignkey_to_subheading_id  pk=article.pk %}{{ all }}">{{ article.title }}</a></li>
                                </ul>

                            {% endfor %}
  </div>
</div>

{% endif %}
                    </div>
                </div>




                        <a href="{%  url "articles:add_article" current_boat.heading.pk    %}"><button type="button" class="btn btn-secondary   border-success mt-2 rounded  " style="width:120px">Add an article</button></a>

                    </div>
                </div>


            </div>
        </div>
    </div>



{% endcache %}


{% cache "60*60*24"|multiplier boat_detail_images   EQ.eq_images   request.user.is_authenticated %}

<div class="row mx-3  mt-3">
    {% for instance in images %}

        <a  href=" {{ instance.boat_photo.url}}"> <img class="  ml-3 mb-2" src="{% thumbnail instance.boat_photo "default"  %}"></a>


    {% endfor %}
</div>

{% endcache %}



{% cache "60*60*24"|multiplier boat_detail_comments  EQ.eq_comments  request.user.is_authenticated %}

    {% for comment in comments %}


      <Ul style="list-style: none" class="mt-3 mr-3">
            <li> <strong>{{ comment.author }} </strong> <i> {{ comment.created_at|date:"SHORT_DATE_FORMAT"  }}



                {%  if request.user.username  == comment.author  %}

            <a href="{% url "articles:edit_comment" pk=comment.pk %}"><span class="badge badge-info">Edit comment</span></a>


                    {% elif  comment.pk|int_to_str  in allowed_comments  and not request.user.is_authenticated %}
<a href="{% url "articles:edit_comment" pk=comment.pk %}"><span class="badge badge-info">Edit comment</span></a>
                {% endif  %}

            </i></li>
            <li> {{ comment.content }} </li>

        </Ul>
        <hr>


            {% endfor %}

{% endcache %}







{% endblock content %}

