<!--templates/boats.html   -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    {% for boat in boats %}

        <div class="container-fluid">
            <strong><a href="{% url "boat_detail" boat.pk %}">{{ boat.boat_name }}</a> </strong><br>
            <ul>
                <li> boat length -{{ boat.boat_length }}</li>
                <li>boat rigging - {{ boat.boat_mast_type }}</li>
                <li> boat keel type -{{ boat.boat_keel_type }}</li>
                <li>publishing date -{{ boat.boat_publish_date|date:"SHORT_DATE_FORMAT"}}</li>
                </ul>
        <p></p>
        </div>
    {%  endfor %}
{% endblock content%}
