<!--templates/boats.html   -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container ">
    <h5><a class="text-muted  " href="{% url "boats:boat_create" %}">Add a new sailboat:</a></h5>
    </div>

    {% for boat in boats %}

        <div class="container ">

            <strong><a href="{% url "boats:boat_detail" boat.pk %}">{{ boat.boat_name }}</a> </strong><br>
            <div class="row">
            <ul class = "col-md-auto" >
                <li> boat length -{{ boat.boat_length }}</li>
                <li>boat rigging - {{ boat.boat_mast_type }}</li>
                <li> boat keel type -{{ boat.boat_keel_type }}</li>
                <li>publishing date -{{ boat.boat_publish_date|date:"SHORT_DATE_FORMAT"}}</li>
                </ul>
        <p></p>
        </div>
        </div>
    {%  endfor %}
{% endblock content%}
