<!-- templates/create.html   -->
{% extends "base.html" %}
{% load bootstrap4 %}
{%  bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load filtersandtags %}


{% block title %} Adding new boat{% endblock title %}
{% block content %}


    <div class="form-container container col-md-6 bg-light" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="form__section-title">{{ title }}</h1>
            </div>
            <div class="col-md-12">

                <form method="post" enctype="multipart/form-data" >
                    <legend class="text-center text-muted align-text-top">
                        Add a new boat data</legend>
                    {%  csrf_token %}
                    {%   bootstrap_form form1 layout='inline' size="small" label_class="form-label col-md-3" exclude="first_year,last_year" %}



                    <div class="row">

                        <p class="text-muted ml-4">Please enter first and last years of the model manufacturing:</p>
                    </div>
                    <div class="row">
                        <div class="col ml-2 mb-3 ">
                            <span class="">{{ form1.first_year.label }} - {{ form1.first_year}}</span>

                            <span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form1.last_year.label}} {{ "-"|center:20 }} {{ form1.last_year  }}</span>

                        </div>
                    </div>




                    {{ form2.management_form }}
                    {%  for form in form2 %}

                        <div class="row  ">
                            <div class="col border border-white my-1 ml-1">

                                {{ form.boat_photo }}

                                {% if form2.can_delete %}
                                    {{ form.DELETE }} delete

                                    {% if forloop.last %}
                                        <button class="   badge  badge-pill badge-info float-right" title='Add a new row' type='submit' name='add_row' value='Add a new row'>Add a new row </button>
                                    {% endif %}

                                {% endif %}


                            </div>
                        </div>
                        <hr>
                    {% endfor %}




                    <div class="row">
                        <div class="col-12 text-center">
                            {% buttons %}

                                <button type="submit"  name="submit" value='INPUT TYPE=file' class="form-button btn btn-secondary btn-lg">
                                    Submit
                                </button>
                                <button type="reset" class="form-button btn btn-secondary btn-lg">
                                    Reset
                                </button>

                            {% endbuttons %}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}


