<!-- templates/boat_delete.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% load cache %}


{% block title %} Delete boats data{% endblock title %}


{% block content %}



{% cache None  boat_delete object.pk  bool %}


    <div class="form-container container col-md-6  ">
        <div class="row">
            <div class="col-md-12">
                <h1 class="form__section-title">{{ title }}</h1>
            </div>
            <div class="col-md-12">

                <form method="post" >
                    {%  csrf_token %}
                    <div class="row">
                        <div class="col-12 text-center mt-5">

                            {% if object.author == user %}
                                <h5> Are you sure that you want to delete boat<span class="text-info font-weight-bold"> "{{ object.boat_name }}"</span> ?</h5>
                            {% else %}
                                <h5> You can only delete and edit your own entries</h5>
                            {% endif %}

                            {% buttons %}
                                {% if object.author == user %}

                                    <button type="submit" class="form-button btn btn-danger mt-3">
                                        Delete
                                    </button>
                                {% endif %}


                                <a href="{% url "boats:boat_detail" object.pk  %}">
                                    <button type="button" class="form-button btn btn-info mt-3">
                                        Back</button></a>

                            {% endbuttons %}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endcache %}
{% endblock content %}

