<!-- templates/boat_delete.html  -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}


{% block title %} Correction boats data{% endblock title %}

{% block content %}
    <div class="form-container container col-md-6 bg-light mt-2">
        <div class="row">
            <div class="col-md-12 text-center text-muted mb-2">
                <h4>   Edit "{{ form1.boat_name.value|capfirst  }}"  data </h4>
            </div>
            <div class="col-md-12">

                <form method="post" enctype="multipart/form-data">
                    {%  csrf_token %}
                    {%   bootstrap_form form1 layout='horizontal' size="small" label_class="form-label col-md-3"%}

{%   bootstrap_formset form2 layout='horizontal' size="small" label_class="form-label col-md-3"%}

                    <div class="row">
                        <div class="col-12 text-center">
                            {% buttons %}
                                <button type="submit" class="form-button btn btn-secondary btn-lg  ">
                                    Edit
                                </button>
                                <button type="reset" class="form-button btn btn-secondary btn-lg ">
                                    Reset
                                </button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}

