<!-- templates/index.html -->
{%  extends "base.html" %}
{%  load bootstrap4 %}
{% bootstrap_jquery "full" %}
{%  load static %}
{% load cache %}
{% load filtersandtags %}



{% block content %}
    {% cache "60*60*24*7"|multiplier index  %}
    <style>
        #bg{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
    <body id="bg" style="background-image: url('{% static "boats/imgonline-com-ua-Resize-0iLiZkzwokfsv78.jpg"%}')";>








        <div class="row" >
<div class="col" style="position: fixed; bottom: 0; left: 0;z-index: 500; margin-bottom: 27px;   ">

    <script>
$(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
 </script>

                        <a href="{%  url "boats:feedback" %}" class="btn btn-primary btn-lg font-weight-bold text-dark  rounded " style=" background-color: rgba(169,139,68,0.75); border: rgba(247,79,107,0.64) 4px solid"   data-toggle="tooltip" data-placement="top" title="Send message to me , if you like"  >Feedback</a>

</div>

                    </div>




{% endcache %}
{% endblock content %}



