{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



<!-- templates/create.html   -->
{% extends "base.html" %}
{% load bootstrap4 %}
{%  bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% block title %} Adding new boat{% endblock title %}
{% block content %}
    <div class="form-container container col-md-6 bg-light" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="form__section-title">{{ title }}</h1>
            </div>
            <div class="col-md-12">

                <form method="post" enctype="multipart/form-data" action="{{ request.path }}">
                    <legend class="text-center text-muted align-text-top">  Add a new boat data</legend>
                    {%  csrf_token %}
                    {%   bootstrap_form form1 layout='inline' size="small" label_class="form-label col-md-3"%}
                    {%   bootstrap_formset form2 layout='horizontal' size="small" label_class="form-label col-md-3"%}

                    {{ form2.management_form }}

                    <div class="row">
                        <div class="col-12 text-center">
                            {% buttons %}

                                <input title="add a new photo"  type="submit"
                                       name="add_photo" value="Add a new photo"
                                       class="form-button btn btn-light">


                                <button type="submit"  name="submit" value='submit' class="form-button btn btn-light">
                                    Submit
                                </button>
                                <button type="reset" class="form-button btn btn-light">
                                    Reset
                                </button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
