<!--templates/reversion_confirmation.html   -->
{%  extends "base.html" %}
{% load bootstrap4 %}
{% load cache %}
{% load filtersandtags %}
{% block title %}
Reversions confirmation
{% endblock %}
{% block content %}


{% cache "60*60*24*7"|multiplier reversion_confirmation current_boat_name  %}


    <div class="container">
    {% for version in versions %}
    <h4 class="text-center mt-4">Please confirm that you want to recover <span class="font-weight-bold"> "{{ version.object_repr|capfirst }}"</span> </h4>
        {% endfor %}
    <div class="row ">
    <div class="col text-center ">
<form method="post" class="mt-5" >
{%  csrf_token %}


<div class="btn-group rounded " role="group" aria-label="Basic example">
  <button type="submit" class="btn btn-secondary btn-lg bg-danger text-white ">Recover</button>

  <a  href=" {{  request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-lg bg-success ">Go back</button>
</div>
</form>


</div>
</div>
</div>

{% endcache %}

{% endblock content %}
